{% extends "layouts/home.html" %}
{% set pageTitle = 'Danh sách phiếu xuất kho đơn vận chuyển 1' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/home28-1.html" %}
{% endblock %}
