<div class="col-3 box-left">
    <span class="toggle"></span>
    <div class="row flex-column">
        <div class="box-info-user">
            <div class="item-user pt-0 text-center">
                <div class="box-avatar pRel">
                    <span class="icon-rank crown pAbs"></span>
                    <span class="avatar"><img src="assets/img/avatar.png"/></span>
                </div>
                <h4 class="user-name">Nguyễn Hà My</h4>
                <p class="rs">Mã khách hàng: P3394</p>
                <p class="rs">hamyng2965@gmail.com</p>
                <a href="javascript:voi(0);" class="btn-active-user btn text-uppercase">Đã kích hoạt</a>
            </div>
            <div class="item-user">
                <div class="info-rank">Thành viên vàng</div>
                <div class="info-level">
                    <span class="point-label">Điểm tích lũy</span>
                    <a href="javascript:void(0);" class="number-user">150 điểm</a>
                </div>
            </div>
            <div class="item-user">
                <form class="box-search">
                    <button class="btn-search"></button>
                    <input type="text" placeholder="Nhập nội dung tìm kiếm"/>
                </form>
                <div class="box-user-action ">
                    <a href="javascript:void(0);" class="menu-action icon-5 "> Sản phẩm gợi ý</a>
                </div>
                <div class="box-user-action">
                    <a href="javascript:void(0);" class="menu-action icon-1"> Tạo đơn</a>
                </div>
                <div class="box-user-action">
                    <a href="javascript:void(0);" class="menu-action icon-2 active"> Quản lý đơn hàng</a>
                    <ul class="rs lst-order-menu">
                        <li><a href="#">Đơn hàng mua hộ</a></li>
                        <li><a href="#">Đơn hàng đấu giá</a></li>
                        <li><a href="#">Đơn hàng vận chuyển</a></li>
                    </ul>
                </div>
                <div class="box-user-action">
                    <a href="javascript:void(0);" class="menu-action icon-6"> Danh sách khiếu nại</a>
                </div>
                <div class="box-user-action">
                    <a href="javascript:void(0);" class="menu-action icon-7"> Website mua hàng</a>
                </div>
                <div class="box-user-action">
                    <a href="javascript:void(0);" class="menu-action icon-3"> Hợp đồng của tôi</a>
                </div>
                <div class="box-user-action">
                    <a href="javascript:void(0);" class="menu-action icon-4"> Thông báo</a>
                </div>
            </div>
        </div>
        <div class="box-rate">
            <img class="w-100" src="assets/img/img-rate.jpg"/>
            <div class="rate">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
            </div>
        </div>
    </div>
</div>