<div class="box-top-main">
    <div class="mb-0 slide-top" id="slide-top">
        <div class="swiper-slide">
            <div class="label-info">
                <span class="icon-label label1"></span>
                <span>Số dư</span>
            </div>
            <div class="detail-info-block">
                <div class="item-block">Số dư khả dụng: 2.000.000 VNĐ</div>
                <div class="item-block">Số dư đóng băng: 1.200.000 VNĐ</div>
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn-control">Nạp tiền</a>
                    <a href="#" class="btn-control">Đổi điểm</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="label-info">
                <span class="icon-label label2"></span>
                <span>Đơn hàng</span>
            </div>
            <div class="detail-info-block">
                <div class="item-block">Tổng đơn hàng: 26</div>
                <div class="item-block">Chờ giao hàng: 8</div>
                <div class="item-block">Đã giao: 18 đơn</div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="label-info">
                <span class="icon-label label3"></span>
                <span>Thanh toán</span>
            </div>
            <div class="detail-info-block">
                <div class="item-block">Chờ tạm ứng: 2.000.000 VNĐ</div>
                <div class="item-block">Chờ thanh toán: 1.200.000 VNĐ</div>
                <div class="item-block">Đã thanh toán: 1.200.000 VNĐ</div>
            </div>
        </div>
    </div>
</div>