<footer>
    <div class="footer">
        <div class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <h4 class="rs text-uppercase title ">Kết nối với chúng tôi</h4>
                            <div class="item-footer">
                                <h4 class="rs text-uppercase">Hà Nội</h4>
                                <p class="rs"><span class="icon-ft address"></span>Trần Duy Hưng, Cầu Giấy, Hà Nội, Việt Nam</p>
                                <p class="rs"><span class="icon-ft phone"></span>Mr.Mạnh: 0973.477.463</p>
                                <p class="rs"><span class="icon-ft time"></span>8:00 - 17:00, Thứ 2 - Thứ 7</p>
                            </div>
                            <div class="item-footer">
                                <h4 class="rs text-uppercase">Hồ Chí Minh</h4>
                                <p class="rs"><span class="icon-ft address"></span>Lê Đức Thọ, P.15, Q.Gò Vấp, TP.HCM</p>
                                <p class="rs"><span class="icon-ft phone"></span>Mr.Thanh: 07.99.77.55.26</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-4">
                                <div class="row">
                                    <h4 class="rs text-uppercase title">Thông tin</h4>
                                    <ul class="rs list-info w-100">
                                        <li><a href="#">Về chúng tôi</a></li>
                                        <li><a href="#">Danh sách website mua hàng</a></li>
                                        <li><a href="#">Blog, xu hướng mua sắm</a></li>
                                        <li><a href="#">Những câu hỏi thường gặp</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <h4 class="rs text-uppercase title">Hướng dẫn sử dụng</h4>
                                    <ul class="rs list-info w-100">
                                        <li><a href="#">Quy định thanh toán</a></li>
                                        <li><a href="#">Hướng dẫn đặt hàng</a></li>
                                        <li><a href="#">Hướng dẫn vận chuyển</a></li>
                                        <li><a href="#">Danh sách kho nước ngoài</a></li>
                                        <li><a href="#">Danh sách hàng cấm gửi</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <h4 class="rs text-uppercase title">Chính sách và điều khoản</h4>
                                    <ul class="rs list-info w-100">
                                        <li><a href="#">Chính sách vận chuyển</a></li>
                                        <li><a href="#">Quy định đổi trả hàng</a></li>
                                        <li><a href="#">Điều khoản sử dụng</a></li>
                                        <li><a href="#">Video & Hình ảnh</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row bottom-main">
                            <div class="col-7">
                                <div class="row">
                                    <h4 class="rs text-uppercase title">Phương thức thanh toán</h4>
                                    <div class="list-payment">
                                        <a href="#" class="item-pay visa"></a>
                                        <a href="#" class="item-pay mscard"></a>
                                        <a href="#" class="item-pay atmbank"></a>
                                        <a href="#" class="item-pay cash"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <h4 class="rs text-uppercase title">Ứng dụng di động</h4>
                                    <div class="box-download">
                                        <a href="#" class="btn-download ios"></a>
                                        <a href="#" class="btn-download android"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-footer d-flex align-items-center">
            <div class="container">
                <div class="row ">
                    <p class="rs">Copyright 2021 by PCS Việt Nam</p>
                </div>
            </div>
        </div>
    </div>
</footer>