<div class="col-9 box-right">
    <div class="row box-main">
        <div class="box-contract w-100">
            <h4 class="title">Hợp đồng điện tử</h4>
            <div class="box-detail-contract">
                <h4 class="title">Thông tin hợp đồng</h4>
                <div class="item-detail-contract">
                    <h5 class="name">Bên A: Công ty cổ phần vận chuyển và kho vận PCS Post</h5>
                    <p>Địa chỉ: Số 8, Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                    <p>Điện thoại: 1900599838</p>
                    <p>Mã số thuế: 0106813453</p>
                    <p>Người đại diện: Ông Đỗ Vũ Dương</p>
                    <p>Chức vụ: Giám đốc</p>
                </div>
                <div class="item-detail-contract">
                    <h5 class="name">BÊN B: TỔ CHỨC HOẶC CÁ NHÂN</h5>
                    <p>Địa chỉ: Số 8, Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                    <p>Người đại diện:(nếu là tổ chức)/p>
                    <p>Điện thoại: 1900599838</p>
                    <p class="d-flex">
                        <span class="box-sub-contract">Mã số thuế/ CMND: 0106813453</span>
                        <span class="box-sub-contract1">Ngày cấp: </span>
                        <span class="box-sub-contract1">Nơi cấp:</span>
                    </p>
                    <p class="d-flex">
                        <span class="box-sub-contract">Giấy phép ĐKKD số: 0106813453</span>
                        <span class="box-sub-contract1">Ngày cấp: </span>
                        <span class="box-sub-contract1">Nơi cấp:</span>
                    </p>
                </div>
                <div class="item-detail-contract">
                    <h5 class="name">CÁC DỊCH VỤ CUNG CẤP TRONG HỢP ĐỒNG</h5>
                    <p>Dịch vụ Mua hộ</p>
                    <p>Dịch vụ Vận chuyển</p>
                </div>
                <div class="item-detail-contract">
                    <h5 class="name">NGÀY KÝ HỢP ĐỒNG</h5>
                    <p>20/06/2021</p>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn-contract">Xem chi tiết hợp đồng</button>
            </div>
        </div>
    </div>
</div>