<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-account-user mb-24">
            <div class="box-account-history">
                <h4 class="rs title-history mb-24">Lịch sử giao dịch</h4>
                <div class="top-menu">
                    <div class="tab-menu">
                        <a href="#" class="active">Tất cả</a>
                        <a href="#" class="">Lịch sử thanh toán</a>
                        <a href="#" class="">Lịch sử hoàn tiền</a>
                    </div>
                    <div class="right-menu">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Trạng thái</option>
                                <option>Trạng thái a</option>
                            </select>
                        </div>
                        <button class="btn-export-file">Xuất file</button>
                    </div>
                </div>
                <div class="lst-acc-history">
                    <div class="item-acc-history">
                        <div class="date-time">Hôm nay, 09 tháng 07 năm 2021</div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-cart">JPH210507001</span>
                            <span class="status">Thanh toán</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay success">Đã thanh toán</span>
                            <span class="price">12.000.000đ</span>
                        </div>
                    </div>
                    <div class="item-acc-history">
                        <div class="date-time">Hôm nay, 09 tháng 07 năm 2021</div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-cart">JPH210507001</span>
                            <span class="status">Thanh toán</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay success">Đã thanh toán</span>
                            <span class="price">1.000.000đ</span>
                        </div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-car">JPH210507001</span>
                            <span class="status">Hoàn tiền</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay stt-primary">Đã hoàn tiền</span>
                            <span class="price">120.000đ</span>
                        </div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-payed">JPH210507001</span>
                            <span class="status">Thanh toán</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay success">Đã thanh toán</span>
                            <span class="price">10.000đ</span>
                        </div>
                    </div>
                    <div class="item-acc-history">
                        <div class="date-time">Hôm nay, 09 tháng 07 năm 2021</div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-cart">JPH210507001</span>
                            <span class="status">Thanh toán</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay success">Đã thanh toán</span>
                            <span class="price">12.000.000đ</span>
                        </div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-car">JPH210507001</span>
                            <span class="status">Hoàn tiền</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay stt-primary">Đã hoàn tiền</span>
                            <span class="price">12.000.000đ</span>
                        </div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-payed">JPH210507001</span>
                            <span class="status">Thanh toán</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay success">Đã thanh toán</span>
                            <span class="price">12.000.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-account-date">
                <div class="box-item-account-date">
                    <h5 class="rs name-date">Theo ngày</h5>
                    <div class="icalendar">
                        <div class="icalendar__month">
                            <div class="icalendar__prev" onclick="moveDate('prev')">
                                <span>&#10094</span>
                            </div>
                            <div class="icalendar__current-date">
                                <h2 id="icalendarMonth"></h2>
                                <div>
                                    <div id="icalendarDateStr"></div>
                                </div>

                            </div>
                            <div class="icalendar__next" onclick="moveDate('next')">
                                <span>&#10095</span>
                            </div>
                        </div>
                        <div class="icalendar__week-days">
                            <div>Sun</div>
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wed</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div>Sat</div>
                        </div>
                        <div class="icalendar__days"></div>


                        <script src="./javascript-calendar.js" type="text/javascript"></script>
                    </div>
                </div>
                <div class="box-item-account-date">
                    <h5 class="rs name-date">Theo khoảng thời gian</h5>
                    <div class="form-group box-date mb-0">
                        <input name='range' id='cal' type="text" placeholder="Chọn khoảng thời gian"/>
                        <button class="btn-datepicker"></button>
                    </div>
                </div>
                <div class="box-item-account-date">
                    <h5 class="rs name-date">Chỉ hiển thị theo</h5>
                    <ul class="rs lst-date">
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="radio" checked="" name="name1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                            7 ngày gần nhất
                        </li>
                        <li class="active">
                            <label class="custom-control custom-checkbox">
                                <input type="radio" checked="" name="name1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                            30 ngày gần nhất
                        </li>
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="radio"  name="name1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                            6 Tháng gần nhất
                        </li>
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="radio"  name="name1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                            1 Năm trước
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="paging">
            <a href="#" class="prev-pag"></a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#" class="next-pag"></a>
        </div>
    </div>
</div>