<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-info-debt">
            <h5 class="rs title mb-24">Thông tin ví</h5>
            <div class="box-detail-debt debt-col-2">
                <div class="text-info-debt">
                    <div class="text-center text-uppercase">Tổng tiền trong ví</div>
                    <p class="rs text-center color-main">6,848,883đ</p>
                    <button class="btn-naptien">Nạp tiền</button>
                </div>
                <div class="lst-debt">
                    <div class="item-debt debt-3">
                        <h6 class="rs">Số dư khả dụng</h6>
                        <p class="rs">2,594,701</p>
                    </div>
                    <div class="item-debt debt-2">
                        <h6 class="rs">Số dư đóng băng</h6>
                        <p class="rs">2,594,701</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-account-user mb-24">
            <div class="box-account-history">
                <div class="top-menu">
                    <div class="tab-menu">
                        <a href="#" class="active">Tất cả</a>
                        <a href="#" class="">Lịch sử nạp tiền</a>
                        <a href="#" class="">Lịch sử rút tiền</a>
                        <a href="#" class="">Lịch sử tạm giữ</a>
                    </div>
                </div>
                <div class="lst-acc-history">
                    <div class="item-acc-history">
                        <div class="date-time">Hôm nay, 09 tháng 07 năm 2021</div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-card">
                                <span>
                                    Mã giao dịch:<br/>
                                    D71397513VZ.210709
                                </span>
                            </span>
                            <span class="status blue">Nạp tiền</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay wait justify-content-start">Chờ xử lý</span>
                            <span class="price font-weight-bold">12.000.000đ</span>
                        </div>
                    </div>
                    <div class="item-acc-history">
                        <div class="date-time">Hôm nay, 09 tháng 07 năm 2021</div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-wallet">
                                <span>
                                    Mã giao dịch:<br/>
                                    D71397513VZ.210709
                                </span>
                            </span>
                            <span class="status blue">Nạp tiền</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay stt-primary justify-content-start">Đã thanh toán</span>
                            <span class="price font-weight-bold">12.000.000đ</span>
                        </div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-gift">
                                <span>
                                    Mã giao dịch:<br/>
                                    D71397513VZ.210709
                                </span>
                            </span>
                            <span class="status green">Đổi điểm</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay success justify-content-start">Đã thực hiện</span>
                            <span class="price font-weight-bold">12.000.000đ</span>
                        </div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-card">
                                <span>
                                    Mã giao dịch:<br/>
                                    D71397513VZ.210709
                                </span>
                            </span>
                            <span class="status red">Tạm giữ</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay cancel justify-content-start">Hủy thanh toán</span>
                            <span class="price font-weight-bold">12.000.000đ</span>
                        </div>
                    </div>
                    <div class="item-acc-history">
                        <div class="date-time">Hôm nay, 09 tháng 07 năm 2021</div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-wallet">
                                <span>
                                    Mã giao dịch:<br/>
                                    D71397513VZ.210709
                                </span>
                            </span>
                            <span class="status blue">Nạp tiền</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay stt-primary justify-content-start">Đã thanh toán</span>
                            <span class="price font-weight-bold">12.000.000đ</span>
                        </div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-gift">
                                <span>
                                    Mã giao dịch:<br/>
                                    D71397513VZ.210709
                                </span>
                            </span>
                            <span class="status green">Đổi điểm</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay success justify-content-start">Đã thực hiện</span>
                            <span class="price font-weight-bold">12.000.000đ</span>
                        </div>
                        <div class="item-acc-history-detail">
                            <span class="code icon-card">
                                <span>
                                    Mã giao dịch:<br/>
                                    D71397513VZ.210709
                                </span>
                            </span>
                            <span class="status blue">Nạp tiền</span>
                            <span class="time text-left">Chuyển khoản ngân hàng vào lúc 11:00 AM</span>
                            <span class="status-pay wait justify-content-start">Chờ xử lý</span>
                            <span class="price font-weight-bold">12.000.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-account-date">
                <div class="box-item-account-date">
                    <h5 class="rs name-date">Theo ngày</h5>
                    <div class="icalendar">
                        <div class="icalendar__month">
                            <div class="icalendar__prev" onclick="moveDate('prev')">
                                <span>&#10094</span>
                            </div>
                            <div class="icalendar__current-date">
                                <h2 id="icalendarMonth"></h2>
                                <div>
                                    <div id="icalendarDateStr"></div>
                                </div>

                            </div>
                            <div class="icalendar__next" onclick="moveDate('next')">
                                <span>&#10095</span>
                            </div>
                        </div>
                        <div class="icalendar__week-days">
                            <div>Sun</div>
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wed</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div>Sat</div>
                        </div>
                        <div class="icalendar__days"></div>


                        <script src="./javascript-calendar.js" type="text/javascript"></script>
                    </div>
                </div>
                <div class="box-item-account-date">
                    <h5 class="rs name-date">Theo khoảng thời gian</h5>
                    <div class="form-group box-date mb-0">
                        <input type="text" placeholder="Chọn khoảng thời gian"/>
                        <button class="btn-datepicker"></button>
                    </div>
                </div>
                <div class="box-item-account-date">
                    <h5 class="rs name-date">Chỉ hiển thị theo</h5>
                    <ul class="rs lst-date">
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="radio" checked="" name="name1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                            7 ngày gần nhất
                        </li>
                        <li class="active">
                            <label class="custom-control custom-checkbox">
                                <input type="radio" checked="" name="name1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                            30 ngày gần nhất
                        </li>
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="radio"  name="name1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                            6 Tháng gần nhất
                        </li>
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="radio"  name="name1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                            1 Năm trước
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="paging">
            <a href="#" class="prev-pag"></a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#" class="next-pag"></a>
        </div>
    </div>
</div>