<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <a href="#" class="btn-back-home mb-24">Quay lại</a>
        <div class="box-create-info-schedule">
            <div class="bar-progress-status">
                <div class="item-bar active ">
                    <div class="item-level ">
                        <span class="icon icon-1"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Địa chỉ:</strong>
                        <span>Chọn hoặc thêm địa chỉ của bạn</span>
                    </div>

                </div>
                <div class="item-bar ">
                    <div class="item-level ">
                        <span class="icon icon-2"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Nhập khẩu và vận chuyển:</strong>
                        <span>Lựa chọn phương thức nhập khẩu & vận chuyển</span>
                    </div>
                </div>
                <div class="item-bar">
                    <div class="item-level">
                        <span class="icon icon-3"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Thanh toán:</strong>
                        <span>Thanh toán và xác nhận đặt hàng</span>
                    </div>
                </div>

            </div>
            <div class="box-create-address">
                <h5 class="rs label-text">Chọn địa chỉ</h5>
                <span class="small-label">Chọn hoặc thêm địa chỉ giao hàng của bạn</span>
                <form class="box-form-address">
                    <div class="item-address active">
                        <div class="info-address">
                            <h4 class="rs name-customer">Nguyễn Hà My</h4>
                            <p class="rs">Điện thoại: 0903 132 256</p>
                            <p class="rs">Địa chỉ: Số 8 Lê Quang Đạo, Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="box-label-check">
                            <span>Mặc định</span>
                            <label class="custom-control custom-checkbox">
                                <input type="radio" name="add1" checked class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                        </div>
                    </div>
                    <div class="item-address">
                        <div class="info-address">
                            <h4 class="rs name-customer">Nguyễn Hà My</h4>
                            <p class="rs">Điện thoại: 0903 132 256</p>
                            <p class="rs">Địa chỉ: Số 8 Lê Quang Đạo, Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="box-label-check">
                            <span>Mặc định</span>
                            <label class="custom-control custom-checkbox">
                                <input type="radio" name="add1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                        </div>
                    </div>
                    <p>Bạn muốn giao hàng tới địa chỉ khác? <a href="#" class="color-main">Thêm địa chỉ</a></p>
                    <div class="d-flex justify-content-end">
                        <button class="btn-continue">Tiếp tục</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>