<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-account-user mb-24">
            <div class="box-account-history">
                <h4 class="rs title-history mb-24 d-flex align-items-center justify-content-between">
                    <span>Thông báo</span>
                    <a href="#" class="btn-setup-info"></a>
                </h4>
                <div class="top-menu top-menu-notif">
                    <div class="tab-menu">
                        <a href="#" class="active">Tất cả</a>
                        <a href="#" class="tab-sale">Khuyến mại</a>
                        <a href="#" class="tab-setup">Hệ thống</a>
                        <a href="#" class="tab-order">Đơn hàng</a>
                    </div>
                    <a href="#" class="btn-mark-read">Đánh dấu tất cả đã đọc</a>
                </div>
                <div class="lst-acc-history">
                    <div class="item-acc-history">
                        <div class="date-time">Hôm nay, 09 tháng 07 năm 2021</div>
                        <div class="item-notification">
                            <span class="icon-notif icon-gift"></span>
                            <div class="detail-notif">
                                <h5 class="rs title-notif">Đại tiệc khuyến mại tháng 12</h5>
                                <p class="rs">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type...
                                </p>
                            </div>
                            <div class="box-control-notif">
                                <span class="date-notif">10:30 22/07/2021</span>
                                <button class="btn-delete"></button>
                            </div>
                        </div>
                        <div class="item-notification">
                            <span class="icon-notif icon-setting"></span>
                            <div class="detail-notif">
                                <h5 class="rs title-notif">Đại tiệc khuyến mại tháng 12</h5>
                                <p class="rs">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type...
                                </p>
                            </div>
                            <div class="box-control-notif">
                                <span class="date-notif">10:30 22/07/2021</span>
                                <button class="btn-delete"></button>
                            </div>
                        </div>
                        <div class="item-notification">
                            <span class="icon-notif icon-cart"></span>
                            <div class="detail-notif">
                                <h5 class="rs title-notif">Đại tiệc khuyến mại tháng 12</h5>
                                <p class="rs">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                </p>
                            </div>
                            <div class="box-control-notif">
                                <span class="date-notif">10:30 22/07/2021</span>
                                <button class="btn-delete"></button>
                            </div>
                        </div>
                    </div>
                    <div class="item-acc-history">
                        <div class="date-time">Hôm nay, 09 tháng 07 năm 2021</div>
                        <div class="item-notification">
                            <span class="icon-notif icon-setting"></span>
                            <div class="detail-notif">
                                <h5 class="rs title-notif">Đại tiệc khuyến mại tháng 12</h5>
                                <p class="rs">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type...
                                </p>
                            </div>
                            <div class="box-control-notif">
                                <span class="date-notif">10:30 22/07/2021</span>
                                <button class="btn-delete"></button>
                            </div>
                        </div>
                    </div>
                    <div class="item-acc-history">
                        <div class="date-time">Hôm nay, 09 tháng 07 năm 2021</div>
                        <div class="item-notification">
                            <span class="icon-notif icon-cart"></span>
                            <div class="detail-notif">
                                <h5 class="rs title-notif">Đại tiệc khuyến mại tháng 12</h5>
                                <p class="rs">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                </p>
                            </div>
                            <div class="box-control-notif">
                                <span class="date-notif">10:30 22/07/2021</span>
                                <button class="btn-delete"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="paging">
            <a href="#" class="prev-pag"></a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#" class="next-pag"></a>
        </div>
    </div>
</div>