<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-create-info-schedule box-create-order-transport">
            <h4 class="rs title">Gửi yêu cầu vận chuyển</h4>
            <div class="bar-progress-status">
                <div class="item-bar disable">
                    <div class="item-level">
                        <span class="icon icon-1"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Thông tin người nhận</strong>
                        <span>Lorem Ipsum is Lorem Ipsum is simply</span>
                    </div>
                </div>
                <div class="item-bar disable">
                    <div class="item-level ">
                        <span class="icon icon-4"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Thông tin mặt hàng:</strong>
                        <span>Lorem Ipsum is Lorem Ipsum is simply</span>
                    </div>
                </div>
                <div class="item-bar active">
                    <div class="item-level">
                        <span class="icon icon-5"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Dịch vụ GTGT:</strong>
                        <span>Lorem Ipsum is Lorem Ipsum is simply</span>
                    </div>
                </div>
                <div class="item-bar">
                    <div class="item-level">
                        <span class="icon icon-6"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Thanh toán:</strong>
                        <span>Lorem Ipsum is Lorem Ipsum is simply</span>
                    </div>
                </div>
            </div>
            <div class="box-gtgt">
                <h4 class="rs mb-24">Dịch vụ giá trị gia tăng</h4>
                <div class="form-group">
                    <div class="box-select">
                        <select class="form-control">
                            <option>Gom hàng tách vỏ & vận chuyển tiết kiệm</option>
                            <option>Gom hàng tách vỏ & vận chuyển tiết kiệm</option>
                        </select>
                    </div>
                    <input class="form-control input-gtgt" type="text" placeholder="20.000/kg"/>
                    <button class="btn-delete"></button>
                </div>
                <div class="form-group">
                    <div class="box-select">
                        <select class="form-control">
                            <option>Đóng thùng gỗ</option>
                            <option>Đóng thùng nhựa</option>
                        </select>
                    </div>

                    <input class="form-control input-gtgt" type="text" placeholder="20.000/lần"/>
                    <button class="btn-delete"></button>
                </div>
                <div class="form-group">
                    <div class="box-select">
                        <select class="form-control">
                            <option>Check hàng & chụp ảnh</option>
                            <option>Gom hàng tách vỏ & vận chuyển tiết kiệm</option>
                        </select>
                    </div>

                    <input class="form-control input-gtgt" type="text" placeholder="20.000/lần"/>
                    <button class="btn-add"></button>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn-continue">Tiếp tục</button>
            </div>
        </div>
    </div>
</div>