<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <a href="#" class="btn-back-home mb-24">Quay lại</a>
        <div class="box-create-info-schedule">
            <div class="bar-progress-status">
                <div class="item-bar disable">
                    <div class="item-level ">
                        <span class="icon icon-1"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Địa chỉ:</strong>
                        <span>Chọn hoặc thêm địa chỉ của bạn</span>
                    </div>
                </div>
                <div class="item-bar active">
                    <div class="item-level ">
                        <span class="icon icon-2"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Nhập khẩu và vận chuyển:</strong>
                        <span>Lựa chọn phương thức nhập khẩu & vận chuyển</span>
                    </div>
                </div>
                <div class="item-bar">
                    <div class="item-level">
                        <span class="icon icon-3"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Thanh toán:</strong>
                        <span>Thanh toán và xác nhận đặt hàng</span>
                    </div>
                </div>

            </div>
            <div class="box-create-payment">
                <h4 class="rs title-top">Thanh toán</h4>
                <div class="text-top-note">
                    Thêm <span>399.000đ</span> để được miễn phí giao hàng trong nước
                </div>
                <div class="box-main-payment">
                    <div class="box-left-payment">
                        <div class="box-create-total-price box-item-create mb-24">
                            <div class="box-price-1">
                                <h5 class="rs name">TỔNG TIỀN</h5>
                                <div class="number">12.360.000đ</div>
                                <span class="price-note note-1">Giảm 5% khi khách tự lên đơn</span>
                                <span class="price-note note-2">Giảm 5% khuyến mại T7/2021</span>
                            </div>
                            <div class="box-price-2">
                                <div class="item-price-2">
                                    <label class="item-1">Tiền mua hàng</label>
                                    <p class="rs">4.800.000đ</p>
                                    <span class="item-small-usd text-right">(2.18$)</span>
                                </div>
                                <div class="item-price-2">
                                    <label class="item-2">Phí vận chuyển</label>
                                    <p class="rs">800.000đ</p>
                                </div>
                                <div class="item-price-2">
                                    <label class="item-3">Dịch vụ GTGT</label>
                                    <p class="rs">1.800.000đ</p>
                                </div>
                            </div>
                        </div>
                        <div class="box-item-create mb-24 box-method-pay">
                            <h5 class="rs name">PHƯƠNG THỨC THANH TOÁN</h5>
                            <div class="accordion" id="acc-payment">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <button class="btn btn-link btn-pay-1 collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false">
                                           <span> COD - Thanh toán khi nhận hàng</span>
                                        </button>
                                    </div>

                                    <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#acc-payment">
                                        <div class="card-body">
                                            Thanh toán khi nhận hàng
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <button class="btn btn-link btn-pay-2 collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" >
                                            <span>Thanh toán bằng ví</span>
                                        </button>
                                    </div>
                                    <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#acc-payment">
                                        <div class="card-body">
                                            <div class="lst-pay-wallet mb-24">
                                                <div class="item-wallet">
                                                    <span>Ví của bạn</span>
                                                    <strong class="color-main">0</strong>
                                                </div>
                                                <div class="item-wallet">
                                                    <span>Số dư khả dụng</span>
                                                    <strong class="">0</strong>
                                                </div>
                                                <div class="item-wallet">
                                                    <span>Số dư đóng băng</span>
                                                    <strong class="">0</strong>
                                                </div>
                                            </div>
                                            <div class="box-bottom">
                                                <button class="btn-add-price">Nạp tiền</button>
                                                <p class="rs">
                                                    Số dư khả dụng của bạn không đủ để thực
                                                    hiện giao dịch. Xin quý khách vui lòng nạp
                                                    thêm Point vào Ví.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <button class="btn btn-link btn-pay-3" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" >
                                            <span>Chuyển khoản ngân hàng</span>
                                        </button>
                                    </div>
                                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#acc-payment">
                                        <div class="card-body">
                                           <strong>Chọn ngân hàng</strong>
                                            <div class="lst-bank">
                                                <a href="#" class="item-bank bank-1"></a>
                                                <a href="#" class="item-bank bank-2"></a>
                                                <a href="#" class="item-bank bank-3"></a>
                                                <a href="#" class="item-bank bank-4"></a>
                                                <a href="#" class="item-bank bank-5"></a>
                                            </div>
<!--                                            Lệnh thanh toán-->
                                            <div class="box-code-payment">
                                                <h5 class="rs name">LỆNH THANH TOÁN</h5>
                                                <div class="box-code-text">
                                                    <span class="code">DD43D7CE35B NGUYEN HA MY</span>
                                                    <a href="#" class="btn-copy-code">Sao chép nội dung</a>
                                                </div>
                                                <button class="btn-download-receipt">Tải ảnh biên lai sao kê</button>

                                                <div class="form-group">
                                                    <label for="bank-1">Ngân hàng</label>
                                                    <input type="text" class="form-control" id="bank-1"  placeholder="Hiển thị tên ngân hàng">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <div class="form-group form-2">
                                                        <label for="bank-2">Số tài khoản</label>
                                                        <input type="text" class="form-control" id="bank-2"  placeholder="Số tài khoản">
                                                    </div>
                                                    <div class="form-group form-2">
                                                        <label for="bank-3">Chủ tài khoản</label>
                                                        <input type="text" class="form-control" id="bank-3"  placeholder="Tên ngân hàng">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-label-bank">Giảm <strong>30.000đ</strong> cho đơn hàng từ 1.5 triệu khi nhập mã <strong>KM30</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-right-payment">
                        <div class="payment-top-right">
                            <div class="text-des">
                                <strong>Hạn mức thanh toán trước</strong>
                                <span>Mô tả gì đó?</span>
                            </div>
                            <div class="box-info-number">
                                <button class="btn-number active">100%</button>
                                <button class="btn-number">50%</button>
                            </div>
                        </div>
                        <div class="box-item-create mb-24 box-info-method-pay">
                            <h5 class="rs name">INVOICE</h5>
                            <div class="box-user-info-top">
                                <strong>Nguyễn Hà My</strong>
                                <p class="rs">Số 8 Lê Quang Đạo, Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                            </div>
                            <div class="lst-detail-transport">
                                <strong>Dịch vụ vận chuyển</strong>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-left">Tracking</th>
                                        <th>SL</th>
                                        <th>TL</th>
                                        <th>Đơn giá VC</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-left">1Z9YA7830309163063</td>
                                        <td>02 kiện</td>
                                        <td>11.50</td>
                                        <td>1.000.000/kg</td>
                                        <td>02 kiện</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">1Z9YA7830309163063</td>
                                        <td>02 kiện</td>
                                        <td>11.50</td>
                                        <td>1.000.000/kg</td>
                                        <td>02 kiện</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">1Z9YA7830309163063</td>
                                        <td>02 kiện</td>
                                        <td>11.50</td>
                                        <td>1.000.000/kg</td>
                                        <td>02 kiện</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="lst-gtgt">
                                <strong>Dịch vụ GTGT</strong>
                                <ul class="rs lst-gtgt-detail">
                                    <li class="d-flex justify-content-between">
                                        <span>Gom hàng tách vỏ & vận chuyển tiết kiệm</span>
                                        <span>100.000đ</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <span>Đóng thùng gỗ</span>
                                        <span>1.000.000đ</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <span>Kiểm đếm</span>
                                        <span>500.000đ</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <form class="form-bottom-right-payment">
                            <strong>Mã giảm giá</strong>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <input type="text" class="form-control" placeholder="Nhập mã khuyến mại">
                                <button type="button" class="btn btn-apply">Áp dụng</button>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Đã giảm giá</span>
                                <strong class="price-sale">-30.000đ</strong>
                            </div>
                            <div class="lst-check-bottom-accept">
                                <div class="item-check">
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" name="accept1" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-label"></span>
                                    </label>
                                    <div>Đồng ý đóng góp <strong>2.000đ</strong> cho quỹ Vaccine</div>
                                </div>
                                <div class="item-check">
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" name="accept1" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-label"></span>
                                    </label>
                                    <div>Đồng ý đóng góp <span class="color-main">điều khoản & điều kiện giao dịch</span> của PCS</div>
                                </div>
                            </div>
                            <button class="btn-ordering">Xác nhận thanh toán</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>