<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-create-buy mb-24">
            <h5 class="rs title-name">Tạo đơn mua hộ và đấu giá</h5>
            <div class="box-share-link">
                <input type="text" placeholder="Link" value="https://www.amazon.com/UMYOGO-Athletic-Walking-Running-Sneakers/dp/B07Q2JB8RZ/ref=sr_1_13?dchild=1&qid=1625543413&s=..."/>
                <button class="btn btn-share"></button>
            </div>
            <p class="rs text-center">Bạn có thể thêm nhiều đường dẫn sản phẩm cũng lúc bang bằng cách thêm dấu ";"</p>
            <p class="rs text-center">Ví dụ: http://www.link1.com; http://www.link2.com</p>
        </div>
    </div>
</div>