<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <a href="#" class="btn-back-home mb-24">Quay lại</a>
        <div class="box-create-info-schedule">
            <div class="bar-progress-status">
                <div class="item-bar disable">
                    <div class="item-level ">
                        <span class="icon icon-1"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Địa chỉ:</strong>
                        <span>Chọn hoặc thêm địa chỉ của bạn</span>
                    </div>

                </div>
                <div class="item-bar active">
                    <div class="item-level ">
                        <span class="icon icon-2"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Nhập khẩu và vận chuyển:</strong>
                        <span>Lựa chọn phương thức nhập khẩu & vận chuyển</span>
                    </div>
                </div>
                <div class="item-bar">
                    <div class="item-level">
                        <span class="icon icon-3"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Thanh toán:</strong>
                        <span>Thanh toán và xác nhận đặt hàng</span>
                    </div>
                </div>

            </div>
            <div class="box-create-address box-creat-product">
                <h5 class="rs label-text">Nhập khẩu và vận chuyển</h5>
                <span class="small-label">Chọn phương thức nhập khẩu và vận chuyển cho từng đơn hàng của bạn</span>
                <div class="lst-create-order">
                    <div class="item-create-order">
                        <span class="thumb-product thumb-item"><img src="assets/img/img-nckd.png"/></span>
                        <div class="info-center">
                            <span class="title-pro text-hide-1line">Ninja AF101 Air Fryer, 4 Qt, Black/gray</span>
                            <div class="info-create-product">
                                <div class="price-number">
                                    <span>Giá: <strong>2,379,062đ</strong></span>
                                    <strong>35.99$</strong>
                                </div>
                                <div class="price-number">
                                    <span>Số lượng: <strong>1</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="box-method-schedule">
                            <h5 class="text-method">Phương thức nhập khẩu và vận chuyển</h5>
                            <ul class="rs lst-method">
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" checked name="name1" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-label"></span>
                                    </label>
                                    Nhập khẩu tiêu dùng
                                </li>
                                <li class="">
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" name="name1" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-label"></span>
                                    </label>
                                    Nhập khẩu thương mại
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-create-order">
                        <span class="thumb-product thumb-item"><img src="assets/img/img-nckd.png"/></span>
                        <div class="info-center">
                            <span class="title-pro text-hide-1line">Ninja AF101 Air Fryer, 4 Qt, Black/gray</span>
                            <div class="info-create-product">
                                <div class="price-number">
                                    <span>Giá: <strong>2,379,062đ</strong></span>
                                    <strong>35.99$</strong>
                                </div>
                                <div class="price-number">
                                    <span>Số lượng: <strong>1</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="box-method-schedule">
                            <h5 class="text-method">Phương thức nhập khẩu và vận chuyển</h5>
                            <ul class="rs lst-method">
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" name="name2" checked class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-label"></span>
                                    </label>
                                    Nhập khẩu tiêu dùng
                                </li>
                                <li class="">
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" name="name2" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-label"></span>
                                    </label>
                                    Nhập khẩu thương mại
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-create-order">
                        <span class="thumb-product thumb-item"><img src="assets/img/img-nckd.png"/></span>
                        <div class="info-center">
                            <span class="title-pro text-hide-1line">Ninja AF101 Air Fryer, 4 Qt, Black/gray</span>
                            <div class="info-create-product">
                                <div class="price-number">
                                    <span>Giá: <strong>2,379,062đ</strong></span>
                                    <strong>35.99$</strong>
                                </div>
                                <div class="price-number">
                                    <span>Số lượng: <strong>1</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="box-method-schedule">
                            <h5 class="text-method">Phương thức nhập khẩu và vận chuyển</h5>
                            <ul class="rs lst-method">
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" name="name3" checked class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-label"></span>
                                    </label>
                                    Nhập khẩu tiêu dùng
                                </li>
                                <li class="">
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" name="name3" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-label"></span>
                                    </label>
                                    Nhập khẩu thương mại
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-create-order">
                        <span class="thumb-product thumb-item"><img src="assets/img/img-nckd.png"/></span>
                        <div class="info-center">
                            <span class="title-pro text-hide-1line">Ninja AF101 Air Fryer, 4 Qt, Black/gray</span>
                            <div class="info-create-product">
                                <div class="price-number">
                                    <span>Giá: <strong>2,379,062đ</strong></span>
                                    <strong>35.99$</strong>
                                </div>
                                <div class="price-number">
                                    <span>Số lượng: <strong>1</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="box-method-schedule">
                            <h5 class="text-method">Phương thức nhập khẩu và vận chuyển</h5>
                            <ul class="rs lst-method">
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" name="name4" checked class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-label"></span>
                                    </label>
                                    Nhập khẩu tiêu dùng
                                </li>
                                <li class="">
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" name="name4" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-label"></span>
                                    </label>
                                    Nhập khẩu thương mại
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn-continue">Tiếp tục</button>
                </div>
            </div>
        </div>
    </div>
</div>