<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-create-info-schedule box-create-order-transport">
            <h4 class="rs title">Gửi yêu cầu vận chuyển</h4>
            <div class="bar-progress-status">
                <div class="item-bar active">
                    <div class="item-level">
                        <span class="icon icon-1"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Thông tin người nhận</strong>
                        <span>Lorem Ipsum is Lorem Ipsum is simply</span>
                    </div>
                </div>
                <div class="item-bar ">
                    <div class="item-level ">
                        <span class="icon icon-4"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Thông tin mặt hàng:</strong>
                        <span>Lorem Ipsum is Lorem Ipsum is simply</span>
                    </div>
                </div>
                <div class="item-bar">
                    <div class="item-level">
                        <span class="icon icon-5"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Dịch vụ GTGT:</strong>
                        <span>Lorem Ipsum is Lorem Ipsum is simply</span>
                    </div>
                </div>
                <div class="item-bar ">
                    <div class="item-level">
                        <span class="icon icon-6"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Thanh toán:</strong>
                        <span>Lorem Ipsum is Lorem Ipsum is simply</span>
                    </div>
                </div>

            </div>
            <form class="form-item-transport">
                <h5 class="name-sub">Chọn tuyến vận chuyển</h5>
                <div class="form-group">
                    <ul class="rs lst-option-transport">
                        <li class="active">
                            Chuyển hàng Nhật - Việt
                            <div class="box-radio">
                                <label class="custom-control custom-checkbox">
                                    <input type="radio" name="name3" checked class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>

                        </li>
                        <li class="">
                            Chuyển hàng Mỹ - Việt
                            <div class="box-radio">
                                <label class="custom-control custom-checkbox">
                                    <input type="radio" name="name3" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            Chuyển hàng Hàn - Việt
                            <div class="box-radio">
                                <label class="custom-control custom-checkbox">
                                    <input type="radio" name="name3" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            Chuyển hàng Anh - Việt
                            <div class="box-radio">
                                <label class="custom-control custom-checkbox">
                                    <input type="radio" name="name3" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            Chuyển hàng Đức - Việt
                            <div class="box-radio">
                                <label class="custom-control custom-checkbox">
                                    <input type="radio" name="name3" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
            <form class="form-item-transport">
                <h5 class="name-sub">Chọn kho nhận hàng</h5>
                <div class="lst-transport">
                    <div class="item-add-transport active">
                        <div class="top-transport">
                            <strong>SKY P3394 - hamyng@</strong>
                            <div class="box-radio">
                                <label class="custom-control custom-checkbox">
                                    <input type="radio" name="name3" checked class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </div>
                        <p><label>Postcode:</label><span>97086</span></p>
                        <p>
                            <label>Địa chỉ:</label>
                            <span>13336 SE Tumblewweed Ct - P3451</span>
                        </p>
                        <p><label>Số điệu thoại:</label><span>(971)713-6031</span></p>
                    </div>
                    <div class="item-add-transport">
                        <div class="top-transport">
                            <strong>SKY P3394 - hamyng@</strong>
                            <div class="box-radio">
                                <label class="custom-control custom-checkbox">
                                    <input type="radio" name="name3" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </div>
                        <p><label>Postcode:</label><span>97086</span></p>
                        <p>
                            <label>Địa chỉ:</label>
                            <span>13336 SE Tumblewweed Ct - P3451</span>
                        </p>
                        <p><label>Số điệu thoại:</label><span>(971)713-6031</span></p>
                    </div>
                    <div class="item-add-transport">
                        <div class="top-transport">
                            <strong>SKY P3394 - hamyng@</strong>
                            <div class="box-radio">
                                <label class="custom-control custom-checkbox">
                                    <input type="radio" name="name3" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </div>
                        <p><label>Postcode:</label><span>97086</span></p>
                        <p>
                            <label>Địa chỉ:</label>
                            <span>13336 SE Tumblewweed Ct - P3451</span>
                        </p>
                        <p><label>Số điệu thoại:</label><span>(971)713-6031</span></p>
                    </div>
                </div>
            </form>
            <form class="form-item-transport">
                <h5 class="name-sub">Chọn địa chỉ giao hàng</h5>
                <div class="lst-transport">
                    <div class="item-add-transport border-dash-transport active">
                        <div class="top-transport">
                            <strong>SKY P3394 - hamyng@</strong>
                            <div class="box-radio box-radio-tick"> Mặc định
                                <label class="custom-control custom-checkbox">
                                    <input type="radio" name="name3" checked class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </div>
                        <p>
                            <label>Địa chỉ:</label>
                            <span>13336 SE Tumblewweed Ct - P3451</span>
                        </p>
                        <p><label>Số điệu thoại:</label><span>(971)713-6031</span></p>
                    </div>
                    <div class="item-add-transport border-dash-transport">
                        <div class="top-transport">
                            <strong>SKY P3394 - hamyng@</strong>
                            <div class="box-radio box-radio-tick"> Mặc định
                                <label class="custom-control custom-checkbox">
                                    <input type="radio" name="name3" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </div>
                        <p>
                            <label>Địa chỉ:</label>
                            <span>13336 SE Tumblewweed Ct - P3451</span>
                        </p>
                        <p><label>Số điệu thoại:</label><span>(971)713-6031</span></p>
                    </div>
                </div>
            </form>
            <div>Bạn muốn giao hàng tới địa chỉ khác?<a href="#" class="color-main">Thêm địa chỉ</a></div>
            <div class="d-flex justify-content-end">
                <button class="btn-continue">Tiếp tục</button>
            </div>
        </div>
    </div>
</div>