<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="nav-menu-detail">
            <a href="#">Trang chủ</a>
            <a href="#">Đơn hàng mua hộ</a>
            <a href="#">Danh sách đơn hàng mua hộ</a>
            <a href="#">Chi tiết đơn hàng</a>
            <a href="#">Tạo khiếu nại</a>
            <span>Danh sách khiếu nại</span>
        </div>
        <div class="box-detail-main">
            <div class="top-complaint border-bottom-0">Danh sách khiếu nại</div>
            <div class="box-account-user mb-24 detail-list-complaint">
                <div class="box-account-history">
                    <div class="top-menu">
                        <div class="tab-menu">
                            <a href="#" class="active">Tất cả</a>
                            <a href="#" class="">Khiếu nại mới</a>
                            <a href="#" class="">Đang xử lý</a>
                            <a href="#" class="">Đã xử lý</a>
                            <a href="#" class="">Đã hủy</a>
                        </div>
                        <div class="sort-order custom-select">
                            <select>
                                <option>LỌC THEO:</option>
                                <option>Giá</option>
                                <option>A-Z</option>
                                <option>Z-A</option>
                            </select>
                        </div>
                    </div>
                    <div class="lst-acc-history">
                        <div class="accordion item-acc-history" id="acc-payment">
                            <div class="date-time">Hôm nay, 09 tháng 07 năm 2021</div>
                            <div class="card">
                                <div class="card-header item-acc-history-detail" id="headingOne">
                                    <span class="code icon-card">
                                        <span class="text-red">D71397513VZ.210709</span>
                                    </span>
                                    <span class="status blue">Mã đơn JPD210629013</span>
                                    <span class="time text-left">Loại KN: Hàng bị mất, thất lạc</span>
                                    <span class="price text-left">Ngày tạo: 2021/08/01 12:00 AM</span>
                                    <span class="status-pay success justify-content-start">Khiếu nại mới</span>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                                        <span>mũi tên</span>
                                    </button>
                                </div>
                                <div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#acc-payment">
                                    <div class="card-body d-flex">
                                        <div class="content-left">
                                            <div class="top-content d-flex">
                                                <div class="number-tracking w-50">Số tracking: <span class="font-weight-bold">ABCXYZ123456789</span></div>
                                                <div class="number-tracking w-50">Số Bill POST: <span class="font-weight-bold">P987654321</span></div>
                                            </div>
                                            <div class="main-content-left">
                                                <h5 class="rs title text-uppercase font-weight-bold">Nội dung khiếu nại:</h5>
                                                <p class="rs">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    Eu tincidunt mattis vitae, arcu non eget interdum ut congue.
                                                    Id at ut amet sollicitudin sit mi mi diam ipsum.
                                                    Morbi ac, rhoncus amet mattis tristique feugiat donec. Gravida neque turpis phasellus congue.
                                                    Feugiat et suscipit vulputate fermentum eu nisl. Ultrices duis a eget lobortis fames est sit magna. Imperdiet elit vestibulum enim in ut sagittis ornare.
                                                    Sem felis scelerisque venenatis, placerat mi facilisis morbi.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info-right">
                                            <div class="lst-info-user">
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Nhân viên CSKH:</span>
                                                        <span class="w-50 font-weight-bold">Phạm Quỳnh Anh</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Điện thoại:</span>
                                                        <span class="w-50 font-weight-bold">0912345678</span>
                                                    </div>
                                                </div>
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Nhân viên KD:</span>
                                                        <span class="w-50 font-weight-bold">Nguyễn Minh Tâm</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Điện thoại:</span>
                                                        <span class="w-50 font-weight-bold">0986668237</span>
                                                    </div>
                                                </div>
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian gửi KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian tiếp nhận KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Hạn xử lý KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian đóng KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <button class="btn-view">Xem chi tiết khiếu nại</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="date-time">Hôm nay, 09 tháng 07 năm 2021</div>
                            <div class="card">
                                <div class="card-header item-acc-history-detail" id="headingTwo">
                                    <span class="code icon-card">
                                        <span class="text-red">D71397513VZ.210709</span>
                                    </span>
                                    <span class="status blue">Mã đơn JPD210629013</span>
                                    <span class="time text-left">Loại KN: Hàng bị mất, thất lạc</span>
                                    <span class="price text-left">Ngày tạo: 2021/08/01 12:00 AM</span>
                                    <span class="status-pay success justify-content-start">Khiếu nại mới</span>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
                                        <span>mũi tên</span>
                                    </button>
                                </div>
                                <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#acc-payment">
                                    <div class="card-body d-flex">
                                        <div class="content-left">
                                            <div class="top-content d-flex">
                                                <div class="number-tracking w-50">Số tracking: <span class="font-weight-bold">ABCXYZ123456789</span></div>
                                                <div class="number-tracking w-50">Số Bill POST: <span class="font-weight-bold">P987654321</span></div>
                                            </div>
                                            <div class="main-content-left">
                                                <h5 class="rs title text-uppercase font-weight-bold">Nội dung khiếu nại:</h5>
                                                <p class="rs">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    Eu tincidunt mattis vitae, arcu non eget interdum ut congue.
                                                    Id at ut amet sollicitudin sit mi mi diam ipsum.
                                                    Morbi ac, rhoncus amet mattis tristique feugiat donec. Gravida neque turpis phasellus congue.
                                                    Feugiat et suscipit vulputate fermentum eu nisl. Ultrices duis a eget lobortis fames est sit magna. Imperdiet elit vestibulum enim in ut sagittis ornare.
                                                    Sem felis scelerisque venenatis, placerat mi facilisis morbi.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info-right">
                                            <div class="lst-info-user">
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Nhân viên CSKH:</span>
                                                        <span class="w-50 font-weight-bold">Phạm Quỳnh Anh</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Điện thoại:</span>
                                                        <span class="w-50 font-weight-bold">0912345678</span>
                                                    </div>
                                                </div>
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Nhân viên KD:</span>
                                                        <span class="w-50 font-weight-bold">Nguyễn Minh Tâm</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Điện thoại:</span>
                                                        <span class="w-50 font-weight-bold">0986668237</span>
                                                    </div>
                                                </div>
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian gửi KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian tiếp nhận KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Hạn xử lý KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian đóng KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <button class="btn-view">Xem chi tiết khiếu nại</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="date-time">Khiếu nại trước</div>
                            <div class="card">
                                <div class="card-header item-acc-history-detail" id="headingThree">
                                    <span class="code icon-card">
                                        <span class="text-red">D71397513VZ.210709</span>
                                    </span>
                                    <span class="status blue">Mã đơn JPD210629013</span>
                                    <span class="time text-left">Loại KN: Hàng bị mất, thất lạc</span>
                                    <span class="price text-left">Ngày tạo: 2021/08/01 12:00 AM</span>
                                    <span class="status-pay wait justify-content-start">Đang xử lý</span>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                                        <span>mũi tên</span>
                                    </button>
                                </div>
                                <div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#acc-payment">
                                    <div class="card-body d-flex">
                                        <div class="content-left">
                                            <div class="top-content d-flex">
                                                <div class="number-tracking w-50">Số tracking: <span class="font-weight-bold">ABCXYZ123456789</span></div>
                                                <div class="number-tracking w-50">Số Bill POST: <span class="font-weight-bold">P987654321</span></div>
                                            </div>
                                            <div class="main-content-left">
                                                <h5 class="rs title text-uppercase font-weight-bold">Nội dung khiếu nại:</h5>
                                                <p class="rs">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    Eu tincidunt mattis vitae, arcu non eget interdum ut congue.
                                                    Id at ut amet sollicitudin sit mi mi diam ipsum.
                                                    Morbi ac, rhoncus amet mattis tristique feugiat donec. Gravida neque turpis phasellus congue.
                                                    Feugiat et suscipit vulputate fermentum eu nisl. Ultrices duis a eget lobortis fames est sit magna. Imperdiet elit vestibulum enim in ut sagittis ornare.
                                                    Sem felis scelerisque venenatis, placerat mi facilisis morbi.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info-right">
                                            <div class="lst-info-user">
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Nhân viên CSKH:</span>
                                                        <span class="w-50 font-weight-bold">Phạm Quỳnh Anh</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Điện thoại:</span>
                                                        <span class="w-50 font-weight-bold">0912345678</span>
                                                    </div>
                                                </div>
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Nhân viên KD:</span>
                                                        <span class="w-50 font-weight-bold">Nguyễn Minh Tâm</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Điện thoại:</span>
                                                        <span class="w-50 font-weight-bold">0986668237</span>
                                                    </div>
                                                </div>
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian gửi KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian tiếp nhận KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Hạn xử lý KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian đóng KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <button class="btn-view">Xem chi tiết khiếu nại</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header item-acc-history-detail" id="headingFour">
                                    <span class="code icon-card">
                                        <span class="text-red">D71397513VZ.210709</span>
                                    </span>
                                    <span class="status blue">Mã đơn JPD210629013</span>
                                    <span class="time text-left">Loại KN: Hàng bị mất, thất lạc</span>
                                    <span class="price text-left">Ngày tạo: 2021/08/01 12:00 AM</span>
                                    <span class="status-pay stt-primary justify-content-start">Đã xử lý</span>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false">
                                        <span>mũi tên</span>
                                    </button>
                                </div>
                                <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#acc-payment">
                                    <div class="card-body d-flex">
                                        <div class="content-left">
                                            <div class="top-content d-flex">
                                                <div class="number-tracking w-50">Số tracking: <span class="font-weight-bold">ABCXYZ123456789</span></div>
                                                <div class="number-tracking w-50">Số Bill POST: <span class="font-weight-bold">P987654321</span></div>
                                            </div>
                                            <div class="main-content-left">
                                                <h5 class="rs title text-uppercase font-weight-bold">Nội dung khiếu nại:</h5>
                                                <p class="rs">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    Eu tincidunt mattis vitae, arcu non eget interdum ut congue.
                                                    Id at ut amet sollicitudin sit mi mi diam ipsum.
                                                    Morbi ac, rhoncus amet mattis tristique feugiat donec. Gravida neque turpis phasellus congue.
                                                    Feugiat et suscipit vulputate fermentum eu nisl. Ultrices duis a eget lobortis fames est sit magna. Imperdiet elit vestibulum enim in ut sagittis ornare.
                                                    Sem felis scelerisque venenatis, placerat mi facilisis morbi.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info-right">
                                            <div class="lst-info-user">
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Nhân viên CSKH:</span>
                                                        <span class="w-50 font-weight-bold">Phạm Quỳnh Anh</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Điện thoại:</span>
                                                        <span class="w-50 font-weight-bold">0912345678</span>
                                                    </div>
                                                </div>
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Nhân viên KD:</span>
                                                        <span class="w-50 font-weight-bold">Nguyễn Minh Tâm</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Điện thoại:</span>
                                                        <span class="w-50 font-weight-bold">0986668237</span>
                                                    </div>
                                                </div>
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian gửi KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian tiếp nhận KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Hạn xử lý KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian đóng KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <button class="btn-view">Xem chi tiết khiếu nại</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header item-acc-history-detail" id="headingFive">
                                    <span class="code icon-card">
                                        <span class="text-red">D71397513VZ.210709</span>
                                    </span>
                                    <span class="status blue">Mã đơn JPD210629013</span>
                                    <span class="time text-left">Loại KN: Hàng bị mất, thất lạc</span>
                                    <span class="price text-left">Ngày tạo: 2021/08/01 12:00 AM</span>
                                    <span class="status-pay stt-primary justify-content-start">Đã xử lý</span>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false">
                                        <span>mũi tên</span>
                                    </button>
                                </div>
                                <div id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#acc-payment">
                                    <div class="card-body d-flex">
                                        <div class="content-left">
                                            <div class="top-content d-flex">
                                                <div class="number-tracking w-50">Số tracking: <span class="font-weight-bold">ABCXYZ123456789</span></div>
                                                <div class="number-tracking w-50">Số Bill POST: <span class="font-weight-bold">P987654321</span></div>
                                            </div>
                                            <div class="main-content-left">
                                                <h5 class="rs title text-uppercase font-weight-bold">Nội dung khiếu nại:</h5>
                                                <p class="rs">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    Eu tincidunt mattis vitae, arcu non eget interdum ut congue.
                                                    Id at ut amet sollicitudin sit mi mi diam ipsum.
                                                    Morbi ac, rhoncus amet mattis tristique feugiat donec. Gravida neque turpis phasellus congue.
                                                    Feugiat et suscipit vulputate fermentum eu nisl. Ultrices duis a eget lobortis fames est sit magna. Imperdiet elit vestibulum enim in ut sagittis ornare.
                                                    Sem felis scelerisque venenatis, placerat mi facilisis morbi.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info-right">
                                            <div class="lst-info-user">
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Nhân viên CSKH:</span>
                                                        <span class="w-50 font-weight-bold">Phạm Quỳnh Anh</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Điện thoại:</span>
                                                        <span class="w-50 font-weight-bold">0912345678</span>
                                                    </div>
                                                </div>
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Nhân viên KD:</span>
                                                        <span class="w-50 font-weight-bold">Nguyễn Minh Tâm</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Điện thoại:</span>
                                                        <span class="w-50 font-weight-bold">0986668237</span>
                                                    </div>
                                                </div>
                                                <div class="lst-group-right">
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian gửi KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian tiếp nhận KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Hạn xử lý KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                    <div class="item-info-right d-flex">
                                                        <span class="w-50">Thời gian đóng KN:</span>
                                                        <span class="w-50 ">2021/08/01 12:00 AM</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <button class="btn-view">Xem chi tiết khiếu nại</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>