<div class="col-9 box-right">
    <div class="row box-main flex-column">
        {% include "../share/box-top-main.html" %}
        <div class="box-detail-main">
            <div class="tab-menu d-flex align-items-center justify-content-between">
                <ul class="rs nav nav-menu">
                    <li><a href="#" class="nav-link active">Đơn hàng mua hộ</a></li>
                    <li><a href="#" class="nav-link ">Đơn hàng đấu giá</a></li>
                    <li><a href="#" class="nav-link ">Đơn hàng vận chuyển</a></li>
                </ul>
                <a href="javascript:void(0);" class="btn-sort"></a>
            </div>
            <div class="box-sort d-flex justify-content-between">
                <div class="lst-sort">
                    <a href="#">Tất cả</a>
                    <a href="#">Chờ tạm ứng</a>
                    <a href="#">Đã mua</a>
                    <a href="#">Vận chuyển nội địa</a>
                    <a href="#" class="active">Chờ tất toán</a>
                    <a href="#">Đang giao hàng</a>
                    <a href="#">Đã giao</a>
                    <a href="#">Đơn hàng hủy</a>
                </div>
                <div class="sort-order custom-select">
                    <select>
                        <option>Sắp xếp theo:</option>
                        <option>Giá:</option>
                    </select>
                </div>
            </div>
            <div class="lst-detail-export">
                <div class="box-export">
                    <h4 class="rs code-export">Mã phiếu: <span class="code">JPBC2106290190</span> <span class="status delivery">Đang giao hàng</span></h4>
                    <div class="info-export-item">
                        <div class="d-flex flex-column">
                            <p class="rs">Đã đặt: 20:34 22/3/2021</p>
                            <p class="rs">Địa chỉ giao hàng: Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#" class="btn btn-control btn-download-price">Tải báo giá</a>
                            <a href="#" class="btn btn-control btn-view-detail">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="table-responsive table-detail-export">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="col1 color-main" scope="col">Hình ảnh</th>
                                <th class="color-main" scope="col">Mã đơn hàng</th>
                                <th class="color-main" scope="col">Tracking</th>
                                <th class="color-main" scope="col">Tên hàng</th>
                                <th class="color-main" scope="col">Số lượng</th>
                                <th class="color-main" scope="col">Trọng lượng</th>
                                <th class="color-main" scope="col">Đơn giá vận chuyển</th>
                                <th class="color-main" scope="col">Cước vận chuyển</th>
                                <th class="color-main" scope="col">Thành tiền (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="4" class="border-left-0 border-bottom-0">
                                    <div class="info-table">
                                        <div><strong>Mã vận đơn: </strong> <span class="text-code-green">PP500136473</span></div>
                                        <p class="rs">Đơn vị vận chuyển: PCS Post </p>
                                    </div>
                                </td>
                                <td>Tổng</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp text-left border-right-0">
                                    <strong>Phí giao hàng:</strong>
                                </td>
                                <td class="total-exp border-left-0">
                                    500.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp bg-total-exp  text-left">
                                    <strong>Tổng cộng:</strong>
                                </td>
                                <td class="total-exp bg-total-exp">
                                    1,562,000.000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---item export-->
                <div class="box-export">
                    <h4 class="rs code-export">Mã phiếu: <span class="code">JPBC2106290190</span> <span class="status buy">Đã mua</span></h4>
                    <div class="info-export-item">
                        <div class="d-flex flex-column">
                            <p class="rs">Đã đặt: 20:34 22/3/2021</p>
                            <p class="rs">Địa chỉ giao hàng: Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#" class="btn btn-control btn-download-price">Tải báo giá</a>
                            <a href="#" class="btn btn-control btn-view-detail">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="table-responsive table-detail-export">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="col1 color-main" scope="col">Hình ảnh</th>
                                <th class="color-main" scope="col">Mã đơn hàng</th>
                                <th class="color-main" scope="col">Tracking</th>
                                <th class="color-main" scope="col">Tên hàng</th>
                                <th class="color-main" scope="col">Số lượng</th>
                                <th class="color-main" scope="col">Trọng lượng</th>
                                <th class="color-main" scope="col">Đơn giá vận chuyển</th>
                                <th class="color-main" scope="col">Cước vận chuyển</th>
                                <th class="color-main" scope="col">Thành tiền (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="4" class="border-left-0 border-bottom-0">
                                    <div class="info-table">
                                        <div><strong>Mã vận đơn: </strong> <span class="text-code-green">PP500136473</span></div>
                                        <p class="rs">Đơn vị vận chuyển: PCS Post </p>
                                    </div>
                                </td>
                                <td>Tổng</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp text-left border-right-0">
                                    <strong>Phí giao hàng:</strong>
                                </td>
                                <td class="total-exp border-left-0">
                                    500.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp bg-total-exp  text-left">
                                    <strong>Tổng cộng:</strong>
                                </td>
                                <td class="total-exp bg-total-exp">
                                    1,562,000.000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---item export-->
                <div class="box-export">
                    <h4 class="rs code-export">Mã phiếu: <span class="code">JPBC2106290190</span> <span class="status cancel">Đã hủy đơn</span></h4>
                    <div class="info-export-item">
                        <div class="d-flex flex-column">
                            <p class="rs">Đã đặt: 20:34 22/3/2021</p>
                            <p class="rs">Địa chỉ giao hàng: Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#" class="btn btn-control btn-download-price">Tải báo giá</a>
                            <a href="#" class="btn btn-control btn-view-detail">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="table-responsive table-detail-export">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="col1 color-main" scope="col">Hình ảnh</th>
                                <th class="color-main" scope="col">Mã đơn hàng</th>
                                <th class="color-main" scope="col">Tracking</th>
                                <th class="color-main" scope="col">Tên hàng</th>
                                <th class="color-main" scope="col">Số lượng</th>
                                <th class="color-main" scope="col">Trọng lượng</th>
                                <th class="color-main" scope="col">Đơn giá vận chuyển</th>
                                <th class="color-main" scope="col">Cước vận chuyển</th>
                                <th class="color-main" scope="col">Thành tiền (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="4" class="border-left-0 border-bottom-0">
                                    <div class="info-table">
                                        <div><strong>Mã vận đơn: </strong> <span class="text-code-green">PP500136473</span></div>
                                        <p class="rs">Đơn vị vận chuyển: PCS Post </p>
                                    </div>
                                </td>
                                <td>Tổng</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp text-left border-right-0">
                                    <strong>Phí giao hàng:</strong>
                                </td>
                                <td class="total-exp border-left-0">
                                    500.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp bg-total-exp  text-left">
                                    <strong>Tổng cộng:</strong>
                                </td>
                                <td class="total-exp bg-total-exp">
                                    1,562,000.000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---item export-->
                <div class="box-export">
                    <h4 class="rs code-export">Mã phiếu: <span class="code">JPBC2106290190</span> <span class="status wait">Chờ tạm ứng</span></h4>
                    <div class="info-export-item">
                        <div class="d-flex flex-column">
                            <p class="rs">Đã đặt: 20:34 22/3/2021</p>
                            <p class="rs">Địa chỉ giao hàng: Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#" class="btn btn-control btn-download-price">Tải báo giá</a>
                            <a href="#" class="btn btn-control btn-view-detail">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="table-responsive table-detail-export">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="col1 color-main" scope="col">Hình ảnh</th>
                                <th class="color-main" scope="col">Mã đơn hàng</th>
                                <th class="color-main" scope="col">Tracking</th>
                                <th class="color-main" scope="col">Tên hàng</th>
                                <th class="color-main" scope="col">Số lượng</th>
                                <th class="color-main" scope="col">Trọng lượng</th>
                                <th class="color-main" scope="col">Đơn giá vận chuyển</th>
                                <th class="color-main" scope="col">Cước vận chuyển</th>
                                <th class="color-main" scope="col">Thành tiền (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="4" class="border-left-0 border-bottom-0">
                                    <div class="info-table">
                                        <div><strong>Mã vận đơn: </strong> <span class="text-code-green">PP500136473</span></div>
                                        <p class="rs">Đơn vị vận chuyển: PCS Post </p>
                                    </div>
                                </td>
                                <td>Tổng</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp text-left border-right-0">
                                    <strong>Phí giao hàng:</strong>
                                </td>
                                <td class="total-exp border-left-0">
                                    500.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp bg-total-exp  text-left">
                                    <strong>Tổng cộng:</strong>
                                </td>
                                <td class="total-exp bg-total-exp">
                                    1,562,000.000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---item export-->
                <div class="box-export">
                    <h4 class="rs code-export">Mã phiếu: <span class="code">JPBC2106290190</span> <span class="status success">Đã giao</span></h4>
                    <div class="info-export-item">
                        <div class="d-flex flex-column">
                            <p class="rs">Đã đặt: 20:34 22/3/2021</p>
                            <p class="rs">Địa chỉ giao hàng: Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#" class="btn btn-control btn-download-price">Tải báo giá</a>
                            <a href="#" class="btn btn-control btn-view-detail">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="table-responsive table-detail-export">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="col1 color-main" scope="col">Hình ảnh</th>
                                <th class="color-main" scope="col">Mã đơn hàng</th>
                                <th class="color-main" scope="col">Tracking</th>
                                <th class="color-main" scope="col">Tên hàng</th>
                                <th class="color-main" scope="col">Số lượng</th>
                                <th class="color-main" scope="col">Trọng lượng</th>
                                <th class="color-main" scope="col">Đơn giá vận chuyển</th>
                                <th class="color-main" scope="col">Cước vận chuyển</th>
                                <th class="color-main" scope="col">Thành tiền (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="4" class="border-left-0 border-bottom-0">
                                    <div class="info-table">
                                        <div><strong>Mã vận đơn: </strong> <span class="text-code-green">PP500136473</span></div>
                                        <p class="rs">Đơn vị vận chuyển: PCS Post </p>
                                    </div>
                                </td>
                                <td>Tổng</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp text-left border-right-0">
                                    <strong>Phí giao hàng:</strong>
                                </td>
                                <td class="total-exp border-left-0">
                                    500.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp bg-total-exp  text-left">
                                    <strong>Tổng cộng:</strong>
                                </td>
                                <td class="total-exp bg-total-exp">
                                    1,562,000.000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---item export-->
                <div class="box-export">
                    <h4 class="rs code-export">Mã phiếu: <span class="code">JPBC2106290190</span> <span class="status wait-pay">Chờ tất toán</span></h4>
                    <div class="info-export-item">
                        <div class="d-flex flex-column">
                            <p class="rs">Đã đặt: 20:34 22/3/2021</p>
                            <p class="rs">Địa chỉ giao hàng: Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#" class="btn btn-control btn-download-price">Tải báo giá</a>
                            <a href="#" class="btn btn-control btn-view-detail">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="table-responsive table-detail-export">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="col1 color-main" scope="col">Hình ảnh</th>
                                <th class="color-main" scope="col">Mã đơn hàng</th>
                                <th class="color-main" scope="col">Tracking</th>
                                <th class="color-main" scope="col">Tên hàng</th>
                                <th class="color-main" scope="col">Số lượng</th>
                                <th class="color-main" scope="col">Trọng lượng</th>
                                <th class="color-main" scope="col">Đơn giá vận chuyển</th>
                                <th class="color-main" scope="col">Cước vận chuyển</th>
                                <th class="color-main" scope="col">Thành tiền (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="4" class="border-left-0 border-bottom-0">
                                    <div class="info-table">
                                        <div><strong>Mã vận đơn: </strong> <span class="text-code-green">PP500136473</span></div>
                                        <p class="rs">Đơn vị vận chuyển: PCS Post </p>
                                    </div>
                                </td>
                                <td>Tổng</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp text-left border-right-0">
                                    <strong>Phí giao hàng:</strong>
                                </td>
                                <td class="total-exp border-left-0">
                                    500.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp bg-total-exp  text-left">
                                    <strong>Tổng cộng:</strong>
                                </td>
                                <td class="total-exp bg-total-exp">
                                    1,562,000.000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---item export-->
            </div>

        </div>
        <div class="paging">
            <a href="#" class="prev-pag"></a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#" class="next-pag"></a>
        </div>
    </div>
</div>