<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="nav-menu-detail">
            <a href="#">Trang chủ</a>
            <a href="#">Đơn hàng mua hộ</a>
            <a href="#">Danh sách đơn hàng mua hộ</a>
            <a href="#">Chi tiết đơn hàng</a>
            <span>Tạo khiếu nại</span>
        </div>
        <div class="box-detail-main">
            <div class="top-complaint">Tạo khiếu nại</div>
            <div class="detail-complaint">
                <h4 class="rs title mb-24">Gửi yêu cầu khiếu nại</h4>
                <div class="lst-detail-complaint">
                    <div class="form-group d-flex align-items-center mb-24">
                        <label class="rs">Loại khiếu nại (<span>*</span>)</label>
                        <div class="custom-select form-control">
                            <select>
                                <option>Chọn loại khiếu nại</option>
                                <option>Khiếu nại 1</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center mb-24">
                        <label class="rs">Số đơn hàng (<span>*</span>)</label>
                        <input type="text" class="form-control" placeholder="JPD210629013"/>
                    </div>
                    <div class="form-group d-flex align-items-center mb-24">
                        <label class="rs">Số tracking (<span>*</span>)</label>
                        <input type="text" class="form-control" placeholder="ABCXYZ123456789"/>
                    </div>
                    <div class="form-group d-flex align-items-center mb-24">
                        <label class="rs">Số vận đơn POST (<span>*</span>)</label>
                        <input type="text" class="form-control" placeholder="P987654321"/>
                    </div>
                </div>

                <h4 class="rs title mb-24">Nội dung khiếu nại</h4>

                <textarea class="detail-text-complaint mb-24 form-control">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at amet, viverra enim scelerisque sagittis rhoncus in aliquam. Habitasse sagittis viverra sed odio. Tincidunt facilisis egestas nibh nibh tempor, vitae tortor nunc. Sit non scelerisque lorem dui sapien tristique dictum sed.
                        Tellus volutpat, in quis aliquet. Lacus, varius in diam sapien arcu. Diam nisl pellentesque urna condimentum lacus, erat neque, leo sagittis. Mauris molestie nec, sed montes, purus, lacus duis in vestibulum. Consectetur amet faucibus viverra condimentum. Morbi elementum amet, ac faucibus tortor ac vestibulum tristique lacus. Quisque maecenas fringilla mauris, massa amet gravida.
                        Integer ante ac praesent curabitur ornare gravida vestibulum donec. Porttitor nisi, diam sed ornare. Diam faucibus senectus ornare iaculis turpis nullam neque. Lectus habitant pharetra platea egestas posuere. Vitae eu pellentesque nunc imperdiet et ac, vel. Ipsum phasellus elementum sit ac arcu tincidunt aliquam duis. Laoreet vulputate velit commodo, nullam nisi. Sed ornare natoque suspendisse aliquet pretium.
                </textarea>

                <h4 class="rs title mb-24">Hình ảnh đính kèm(File đính kèm)</h4>
                <div class="lst-upload-images">
                    <button class="btn-upload">Tải hình ảnh</button>
                    <div class="lst-images">
                        <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                        <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                        <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                        <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                        <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                        <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                    </div>
                </div>
                <div class="box-control-bottom">
                    <button class="btn-cancel">Hủy</button>
                    <button class="btn-send">Gửi khiếu nại</button>
                </div>
            </div>
        </div>
    </div>
</div>