<div class="col-9 box-right">
    <div class="row box-main flex-column">
        {% include "../share/box-top-main.html" %}
        <div class="box-detail-main">
            <div class="tab-menu d-flex align-items-center justify-content-between">
                <ul class="rs nav nav-menu">
                    <li><a href="#" class="nav-link ">Đơn hàng mua hộ</a></li>
                    <li><a href="#" class="nav-link ">Đơn hàng đấu giá</a></li>
                    <li><a href="#" class="nav-link active">Đơn hàng vận chuyển</a></li>
                </ul>
                <a href="javascript:void(0);" class="btn-sort"></a>
            </div>
            <div class="box-sort d-flex justify-content-between">
                <div class="lst-sort">
                    <a href="#" class="active">Tất cả</a>
                    <a href="#">Chờ tạm ứng</a>
                    <a href="#">Đã mua</a>
                    <a href="#">Vận chuyển nội địa</a>
                    <a href="#">Chờ tất toán</a>
                    <a href="#">Đang giao hàng</a>
                    <a href="#">Đã giao</a>
                    <a href="#">Đơn hàng hủy</a>
                </div>
                <div class="sort-order custom-select">
                    <select>
                        <option>Sắp xếp theo:</option>
                        <option>Giá:</option>
                    </select>
                </div>
            </div>
            <div class="lst-item-order">
                <div class="item-order item-order-home">
                    <div class="info-status-order">
                        <div class="info">
                            <div class="top-info">
                                Đơn hàng <span class="code"> JPD210629013</span>
                                <span class="status btn-transport-inner">Vận chuyển nội địa</span>
                            </div>
                            <p class="rs"><span>Đã đặt 20:34 22/3/2021</span></p>
                        </div>
                        <a href="#" class="btn btn-detail">Chi tiết đơn hàng</a>
                    </div>
                    <div class="detail-info-order">
                        <div class="accordion" id="acc-home1">
                            <div class="card">
                                <div class="card-header" id="headingOne1">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseOne1" class="collapse show " aria-labelledby="headingOne1" data-parent="#acc-payment">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo1">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseTwo1" class="collapse " aria-labelledby="headingTwo1" data-parent="#acc-home1">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree1">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseThree1" class="collapse " aria-labelledby="headingThree1" data-parent="#acc-home1">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour1">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseFour1" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseFour1" class="collapse " aria-labelledby="headingFour1" data-parent="#acc-home1">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-detail-product price-info">
                            <label>Tổng tiền</label>
                            <span class="price-number">6.560.000 VNĐ</span>
                        </div>
                        <div class="item-detail-product address-info">
                            <label>Địa chỉ giao hàng</label>
                            <div class="">
                                Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ
                                Liêm, Hà Nội
                            </div>
                        </div>
                    </div>
                </div>
                <!--                                                item order-->
                <div class="item-order item-order-home">
                    <div class="info-status-order">
                        <div class="info">
                            <div class="top-info">
                                Đơn hàng <span class="code"> JPD210629013</span>
                                <span class="status btn-wait-pay">Chờ tất toán</span>
                            </div>
                            <p class="rs"><span>Đã đặt 20:34 22/3/2021</span></p>
                        </div>
                        <a href="#" class="btn btn-detail">Chi tiết đơn hàng</a>
                    </div>
                    <div class="detail-info-order">
                        <div class="accordion" id="acc-home2">
                            <div class="card">
                                <div class="card-header" id="headingOne2">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseOne2" class="collapse show " aria-labelledby="headingOne2" data-parent="#acc-home2">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo2">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseTwo2" class="collapse " aria-labelledby="headingTwo2" data-parent="#acc-home2">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree2">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseThree2" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseThree2" class="collapse " aria-labelledby="headingThree2" data-parent="#acc-home2">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour2">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseFour2" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseFour2" class="collapse " aria-labelledby="headingFour2" data-parent="#acc-home2">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-detail-product price-info">
                            <label>Tổng tiền</label>
                            <span class="price-number">6.560.000 VNĐ</span>
                        </div>
                        <div class="item-detail-product address-info">
                            <label>Địa chỉ giao hàng</label>
                            <div class="">
                                Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ
                                Liêm, Hà Nội
                            </div>
                        </div>
                    </div>
                </div>
                <!--                                                item order-->
                <div class="item-order item-order-home">
                    <div class="info-status-order">
                        <div class="info">
                            <div class="top-info">
                                Đơn hàng <span class="code"> JPD210629013</span>
                                <span class="status btn-success">Đã giao</span>
                            </div>
                            <p class="rs"><span>Đã đặt 20:34 22/3/2021</span></p>
                        </div>
                        <a href="#" class="btn btn-detail">Chi tiết đơn hàng</a>
                    </div>
                    <div class="detail-info-order">
                        <div class="accordion" id="acc-home3">
                            <div class="card">
                                <div class="card-header" id="headingOne3">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseOne3" class="collapse show " aria-labelledby="headingOne3" data-parent="#acc-home3">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo3">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseTwo3" class="collapse " aria-labelledby="headingTwo3" data-parent="#acc-home3">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree3">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseThree3" class="collapse " aria-labelledby="headingThree3" data-parent="#acc-home3">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour3">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseFour3" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseFour3" class="collapse " aria-labelledby="headingFour3" data-parent="#acc-home3">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-detail-product price-info">
                            <label>Tổng tiền</label>
                            <span class="price-number">6.560.000 VNĐ</span>
                        </div>
                        <div class="item-detail-product address-info">
                            <label>Địa chỉ giao hàng</label>
                            <div class="">
                                Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ
                                Liêm, Hà Nội
                            </div>
                        </div>
                    </div>
                </div>
                <!--                                                item order-->
                <div class="item-order item-order-home">
                    <div class="info-status-order">
                        <div class="info">
                            <div class="top-info">
                                Đơn hàng <span class="code"> JPD210629013</span>
                                <span class="status btn-cancel">Đã hủy đơn</span>
                            </div>
                            <p class="rs"><span>Đã đặt 20:34 22/3/2021</span></p>
                        </div>
                        <a href="#" class="btn btn-detail">Chi tiết đơn hàng</a>
                    </div>
                    <div class="detail-info-order">
                        <div class="accordion" id="acc-home4">
                            <div class="card">
                                <div class="card-header" id="headingOne4">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="true">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseOne4" class="collapse show " aria-labelledby="headingOne4" data-parent="#acc-home4">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo4">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseTwo4" class="collapse " aria-labelledby="headingTwo4" data-parent="#acc-home4">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree4">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseThree4" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseThree4" class="collapse " aria-labelledby="headingThree4" data-parent="#acc-home4">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour4">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseFour4" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseFour" class="collapse " aria-labelledby="headingFour4" data-parent="#acc-home4">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-detail-product price-info">
                            <label>Tổng tiền</label>
                            <span class="price-number">6.560.000 VNĐ</span>
                        </div>
                        <div class="item-detail-product address-info">
                            <label>Địa chỉ giao hàng</label>
                            <div class="">
                                Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ
                                Liêm, Hà Nội
                            </div>
                        </div>
                    </div>
                </div>
                <!--                                                item order-->
                <div class="item-order item-order-home">
                    <div class="info-status-order">
                        <div class="info">
                            <div class="top-info">
                                Đơn hàng <span class="code"> JPD210629013</span>
                                <span class="status btn-delivery">Đang giao hàng</span>
                            </div>
                            <p class="rs"><span>Đã đặt 20:34 22/3/2021</span></p>
                        </div>
                        <a href="#" class="btn btn-detail">Chi tiết đơn hàng</a>
                    </div>
                    <div class="detail-info-order">
                        <div class="accordion" id="acc-home5">
                            <div class="card">
                                <div class="card-header" id="headingOne5">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseOne5" aria-expanded="true">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseOne5" class="collapse show " aria-labelledby="headingOne5" data-parent="#acc-home5">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo5">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseTwo5" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseTwo5" class="collapse " aria-labelledby="headingTwo5" data-parent="#acc-home5">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree5">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseThree5" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseThree5" class="collapse " aria-labelledby="headingThree5" data-parent="#acc-home5">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour5">
                                    <div class="box-left-header-tracking">
                                        <span class="name">#1 Tracking: <span class="text-red">123456789ABCXYZ</span></span>
                                        <div class="info-header-tracking">
                                            <span>GW: 20kg</span>
                                            <span>CW: 20.83 kg</span>
                                            <span>DIM: 20*20*20</span>
                                            <span>COD: 12.000 JPY</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseFou5" aria-expanded="false">
                                        <span></span>
                                    </button>
                                </div>
                                <div id="collapseFou5" class="collapse " aria-labelledby="headingFour5" data-parent="#acc-home5">
                                    <div class="card-body">
                                        <div class="box-item-tracking">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-images">
                                                        <span class="img"><img src="assets/img/img-sp1.png"/></span>
                                                    </td>
                                                    <td><span>Điện thoại Oppo</span></td>
                                                    <td><span>Hàng điện tử</span></td>
                                                    <td><span>SL: 1</span></td>
                                                    <td><span>Giá trị hàng: 3.690.000 VNĐ</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-detail-product price-info">
                            <label>Tổng tiền</label>
                            <span class="price-number">6.560.000 VNĐ</span>
                        </div>
                        <div class="item-detail-product address-info">
                            <label>Địa chỉ giao hàng</label>
                            <div class="">
                                Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ
                                Liêm, Hà Nội
                            </div>
                        </div>
                    </div>
                </div>
                <!--                                                item order-->

            </div>
        </div>
        <div class="paging">
            <a href="#" class="prev-pag"></a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#" class="next-pag"></a>
        </div>
    </div>
</div>