<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-option-service">
            <h5 class="rs title-name">Lựa chọn dịch vụ</h5>
            <div class="list-service">
                <a href="#" class="item-service">
                    <span class="icon-service icon-1"></span>
                    <span class="name-service">Mua hộ</span>
                </a>
                <a href="#" class="item-service">
                    <span class="icon-service icon-2"></span>
                    <span class="name-service">Đấu giá</span>
                </a>
                <a href="#" class="item-service">
                    <span class="icon-service icon-3"></span>
                    <span class="name-service">Vận chuyển</span>
                </a>
                <a href="#" class="item-service">
                    <span class="icon-service icon-4"></span>
                    <span class="name-service">Gửi yêu cầu báo giá</span>
                </a>
                <a class="btn btn-continue"> Tiếp Tục</a>
            </div>
        </div>
    </div>
</div>