<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-info-debt">
            <h5 class="rs title mb-24">Địa chỉ của tôi</h5>
            <div class="box-account-address">
                <div class="item-address active">
                    <div class="top-address">
                        <div class="info-address">
                            <h4 class="rs name-customer">Nguyễn Hà My</h4>
                            <p class="rs">Điện thoại: 0903 132 256</p>
                            <p class="rs">Địa chỉ: Số 8 Lê Quang Đạo, Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="box-label-check">
                            <span>Mặc định</span>
                            <label class="custom-control custom-checkbox">
                                <input type="radio" checked name="address-radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                        </div>
                    </div>
                    <div class="box-control-add">
                        <button class="btn-edit"></button>
                        <button class="btn-delete"></button>
                    </div>
                </div>
                <div class="item-address">
                    <div class="top-address">
                        <div class="info-address">
                            <h4 class="rs name-customer">Nguyễn Hà My</h4>
                            <p class="rs">Điện thoại: 0903 132 256</p>
                            <p class="rs">Địa chỉ: Số 8 Lê Quang Đạo, Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="box-label-check">
                            <span>Mặc định</span>
                            <label class="custom-control custom-checkbox">
                                <input type="radio" name="address-radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                        </div>
                    </div>
                    <div class=" box-control-add">
                        <button class="btn-edit"></button>
                        <button class="btn-delete"></button>
                    </div>
                </div>
                <div class="item-address">
                    <div class="top-address">
                        <div class="info-address">
                            <h4 class="rs name-customer">Nguyễn Hà My</h4>
                            <p class="rs">Điện thoại: 0903 132 256</p>
                            <p class="rs">Địa chỉ: Số 8 Lê Quang Đạo, Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="box-label-check">
                            <span>Mặc định</span>
                            <label class="custom-control custom-checkbox">
                                <input type="radio" name="address-radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                        </div>
                    </div>
                    <div class="box-control-add">
                        <button class="btn-edit"></button>
                        <button class="btn-delete"></button>
                    </div>
                </div>
                <div class="item-address d-flex flex-column align-items-center justify-content-center">
                    <a href="#" class="btn-add-address"></a>
                   <span> Thêm địa chỉ</span>
                </div>
            </div>
        </div>
    </div>
</div>