$bg-color: #F1F2F5;
$color1: #ffffff;
$color2: #0050A6;
$color3: #e8e8e8;
$color-text-common: #4B4B4B;
$font-size-page: 14px;
.box-account-user{
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  .box-account-history{
    flex: 1;
    .btn-setup-info{
      display: block;
      background: url("../img/icon-set-notif.svg") 50% 50% no-repeat;
      width: 22px;
      height: 22px;
      &:hover{
        background: url("../img/icon-set-notif-blue.svg") 50% 50% no-repeat;
      }
    }
    .title-history{
      font-weight: bold;
      font-size: 24px;
    }
    .top-menu{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      &.border-bottom{
        height: 60px;
        margin-bottom: 32px;
        .tab-menu{
          a{
            height: 60px;
            font-size: 16px;
          }
        }
      }
      &.top-menu-notif{
        height: 50px;
        border-bottom: 1px solid #E8E8E8;
        .tab-menu{
          a{
            height: 50px;
            &.tab-sale{
              &:before{
                display: block;
                content: '';
                width: 20px;
                height: 20px;
                margin-right: 8px;
                margin-top: -5px;
                background: url("../img/icon-notif-gift.svg") 50% 50% no-repeat;
              }
            }
            &.tab-setup{
              &:before{
                display: block;
                content: '';
                width: 20px;
                height: 20px;
                margin-right: 8px;
                margin-top: -5px;
                background: url("../img/icon-notif-setup.svg") 50% 50% no-repeat;
              }
            }
            &.tab-order{
              &:before{
                display: block;
                content: '';
                width: 20px;
                height: 20px;
                margin-right: 8px;
                margin-top: -5px;
                background: url("../img/icon-notif-cart.svg") 50% 50% no-repeat;
              }
            }
          }
        }
        .btn-mark-read{
          display: block;
          text-transform: uppercase;
          font-size: 14px;
          color: #4B4B4B;
          &:hover{
            color: #0050a6;
          }
        }
      }
      .tab-menu{
        display: flex;
        align-items: center;
        a{
          display: flex;
          align-items: center;
          padding: 8px 16px 0;
          height: 40px;
          border-radius: 4px 4px 0 0;
          font-size: 14px;
          color: #4B4B4B;
          font-weight: bold;
          text-transform: uppercase;
          border-bottom: 1px solid transparent;
          &.active, &:hover{
            color: #0050A6;
            border-bottom: 1px solid #0050A6;
            background-color: #F1F2F5;
          }

        }
      }
      .right-menu{
        display: flex;
        align-items: center;
        .form-group{
          position: relative;
          margin-bottom: 0;
          &:after{
            display: block;
            content: '';
            background: url("../img/icon-arrowdown.png") 0/100% no-repeat;
            width: 9px;
            height: 6px;
            position: absolute;
            right: 12px;
            top: 50%;
            margin-top: -3px;
          }
          .form-control{
            border: 1px solid #E8E8E8;
            border-radius: 4px;
            width: 124px;
            height: 40px;
            appearance: none;
            -webkit-appearance: none;
            font-weight: bold;
            color: #4B4B4B;
          }
        }
        .btn-export-file{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 109px;
          height: 40px;
          border-radius: 4px;
          background-color: #F1F2F5;
          border: 1px solid #E8E8E8;
          color: #0050A6;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
          margin-left: 12px;


        }
      }
    }
    .lst-acc-history{
      .item-acc-history{
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
        .date-time{
          margin-bottom: 16px;
          font-weight: bold;
        }
        .item-acc-history-detail{
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          border: 1px solid #E8E8E8;
          border-radius: 4px;
          ming-height: 60px;
          padding: 8px 12px;
          font-size: 14px;
          color: #4B4B4B;
          line-height: 16px;
          &:last-child{
            margin-bottom: 0;
          }
          .status{
            display: block;
            width: 94px;
            text-align: center;
            &.blue{
              color: #0050A6;
            }
            &.green{
              color: #238832;
            }
            &.red{
              color: #A91116;
            }
          }
          .time{
            flex: 1;
            text-align: center;
            margin: 0 12px;
          }
          .status-pay{
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 4px;
            &:before{
              content: '';
              display: block;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              margin-right: 8px;
            }
            &.success{
              color: #238832;
              &:before{
                background-color: #238832;
              }
            }
            &.stt-primary{
              color: #0050A6;
              &:before{
                background-color: #0050A6;
              }
            }
            &.wait{
              color: #FFB703;
              &:before{
                background-color: #FFB703;
              }
            }
            &.cancel{
              color: #A91116;
              &:before{
                background-color: #A91116;
              }
            }
          }
          .price{
            display: block;
            text-align: right;
            width: 110px;
          }
          .code{
            display: flex;
            align-items: center;
            width: 180px;
            margin-right: 8px;
            span{
              flex: 1;
            }
            &:before{
              content: '';
              display: inline-block;
              width: 24px;
              height: 20px;
              margin-right: 12px;
            }
            &.icon-cart{
              &:before{
                background: url("../img/icon-cart-green.svg") 50% 50% no-repeat;
              }
            }
            &.icon-car{
              &:before{
                background: url("../img/icon-car-blue.svg") 50% 50% no-repeat;
              }
            }
            &.icon-payed{
              &:before{
                background: url("../img/icon-payed.svg") 50% 50% no-repeat;
              }
            }
            &.icon-card{
              &:before{
                background: url("../img/icon-pay-3.svg") 50% 50% no-repeat;
              }
            }
            &.icon-wallet{
              &:before{
                background: url("../img/icon-wallet-acc.svg") 50% 50% no-repeat;
              }
            }
            &.icon-gift{
              &:before{
                background: url("../img/icon-gift.svg") 50% 50% no-repeat;
              }
            }

          }
        }
      //  tài khoản - thông báo
        .item-notification{
          display: flex;
          justify-content: space-between;
          border-top: 1px solid #E8E8E8;
          padding: 16px;
          &:hover{
            background-color: #F1F2F5;
          }
          .icon-notif{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            &:before{
              display: block;
              content: '';
              width: 16px;
              height: 16px;
            }
            &.icon-gift{
              background-color: #F5E6FE;
              &:before{
                background: url("../img/icon-notif-gift.svg") 0/100% no-repeat;
              }
            }
            &.icon-setting{
              background-color: #FFE6E2;
              &:before{
                background: url("../img/icon-notif-setup.svg") 0/100% no-repeat;
              }
            }
            &.icon-cart{
              background-color: #E3F8FA;
              &:before{
                background: url("../img/icon-notif-cart.svg") 0/100% no-repeat;
              }
            }
          }
          .detail-notif{
            flex: 1;
            margin: 0 45px;
            color: #8C8C8C;
            font-size: 14px;
            .title-notif{
              color: #4B4B4B;
              font-size: 14px;
              font-weight: bold;
              margin-bottom: 4px;
            }
          }
          .box-control-notif{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            color: #8C8C8C;
            .date-notif{
              display: inline-flex;
              align-items: center;
              &:before{
                display: inline-block;
                content: '';
                background: url("../img/icon-watch.svg") 0/100% no-repeat;
                width: 16px;
                height: 16px;
                margin-right: 8px;
              }
            }
            .btn-delete{
              display: block;
              background: url("../img/icon-delete1.png") 0/100% no-repeat;
              width: 14px;
              height: 16px;
              &:hover{
                background: url("../img/icon-delete-red.png") 0/100% no-repeat;
              }
            }
          }
        }
      //  tài khoản - thông báo
      }
    }
    .box-detail-debt{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      background-color: #F1F2F5;
      border-radius: 4px;
      height: 128px;
      margin-bottom: 32px;
      .item-detail-debt{
        width: 33.33%;
        border-right: 2px solid #E8E8E8;
        padding: 0 20px;
        text-align: center;
        &:last-child{
          border-right: 0;
        }
        h5{
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 10px;
        }
        p{
          margin-bottom: 0;
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
    .box-coupon{
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      //css width common collaspe
      .code{
        display: block;
        width: 140px;
      }
      .date{
        flex: 1;
        display: flex;
        justify-content: center;
      }
      .status{
        width: 140px;
        text-align: center;
        &.waiting{
          color: #FFB703;
        }
      }
      .number-price{
        width: 118px;
        text-align: center;
        color: #A91116;
        font-weight: bold;
      }
      .box-action{
        width: 118px;
        display: flex;
        justify-content: flex-end;
      }
      //css width common collaspe
      .top-header-coupon{
        height: 60px;
        background-color: #F1F2F5;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        .btn-export{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 88px;
          height: 30px;
          background-color: #F1F2F5;
          border: 1px solid #0050A6;
          color: #0050A6;
          text-transform: uppercase;
          border-radius: 4px;
          font-size: 14px;
          font-weight: bold;
          &:hover{
            background-color: #0050a6;
            color: #ffffff;
          }
        }
        .number-price{
          color: #4B4B4B;
        }
      }
      .accordion-coupon{
        .card{
          border: none;
          .card-header{
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-bottom: none;
            button[aria-expanded="true"]{
              .btn-detail{
                display: none;
              }
              .btn-close{
                display: block;
              }
            }
            button[aria-expanded="false"]{
              .btn-detail{
                display: block;
              }
              .btn-close{
                display: none;
              }
            }
            button{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 88px;
              height: 30px;
              background-color: #F1F2F5;
              border-radius: 4px;
              text-transform: uppercase;
              font-size: 14px;
              font-weight: bold;
              color: #8C8C8C;
              &:hover{
                text-decoration: none;
                background-color: #0050a6;
                color: #ffffff;
              }
            }
          }
          .card-body{
            border-top: 1px solid #E8E8E8;
            border-bottom: 1px solid #E8E8E8;
            .table{
              thead td{
                //font-weight: 600;
              }
              th, td{
                padding: 10px 6px;
                border-top: none;
              }
              td{
                width: 95px;
                text-align: center;
                &:first-child{
                  width: 66px;
                  padding: 10px 0;
                }
                &:nth-child(2){
                  //flex: 1;
                  width: 195px;
                  text-align: left;
                }
                &:nth-child(3){
                  width: 70px;
                }

              }
              tbody{
                tr{
                  td{
                    &:last-child{
                      font-weight: bold;
                    }
                    &:nth-child(3), &:nth-child(4), &:nth-child(5){
                      color: #8C8C8C;
                    }
                  }
                }
              }
              p{
                font-size: 12px;
                color: #8C8C8C;
              }
            }
            .name{
              margin-bottom: 8px;
              display: block;
            }
            .img-thumb{
              display: block;
              margin: 0 auto;
              width: 52px;
              img{
                width: 100% ;
              }
            }
          }
        }
      }
    }
  }
  .box-account-date{
    width: 270px;
    margin-left: 24px;
    padding: 16px;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    .box-item-account-date{
      border-bottom: 1px dashed #E8E8E8;
      padding-bottom: 20px;
      margin-bottom: 20px;
      .name-date{
        font-weight: bold;
        font-size: 14px;
        color: #4B4B4B;
        margin-bottom: 12px;
      }
      .box-date{
        display: flex;
        align-items: center;
        border: 1px solid #E8E8E8;
        border-radius: 4px;
        position: relative;
        input{
          flex: 1;
          padding: 0 16px;
          position: relative;
          z-index: 2;
          background-color: transparent;
          height: 40px;
        }
        .btn-datepicker{
          display: block;
          width: 40px;
          height: 40px;
          background: url("../img/icon-datepicker.svg") 50% 50% no-repeat;
          border-left: 1px solid #E8E8E8;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -20px;
        }
      }
      .lst-date{
        li{
          display: flex;
          align-items: center;
          height: 40px;
          border: 1px solid #E8E8E8;
          border-radius: 4px;
          margin-bottom: 12px;
          padding: 0 16px;
          &.active{
            font-weight: bold;
            border: 1px solid #0050A6;
          }
        }
      }
    }
  }
}
.box-info-debt{
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 16px;
  .title{
    font-size: 24px;
    font-weight: bold;
  }
  .box-detail-debt{
    background-color: #F1F2F5;
    border-radius: 4px;
    padding: 20px;
    .text-info-debt{
      font-size: 20px;
      font-weight: bold;
      border-bottom: 2px solid #E8E8E8;
      padding: 20px;
      margin-bottom: 20px;
      position: relative;
      p{
        font-size: 32px;
      }
      .btn-naptien{
        width: 128px;
        height: 50px;
        background-color: #0050A6;
        border-radius: 4px;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -25px;
        &:hover{
          background-color: #F1F2F5;
          border: 1px solid #0050a6;
          color: #0050a6;
        }
      }
    }
    .lst-debt{
        display: flex;
      justify-content: space-between;
      .item-debt{
        width: 23.4%;
        background-color: #ffffff;
        border-radius: 4px 4px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 106px;
        h6{
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 16px;
        }
        p{
          font-size: 24px;
          font-weight: bold;
        }
        &.debt-1{
          border-bottom: 3px solid #238832;
          p{
            color: #238832;
          }
        }
        &.debt-2{
          border-bottom: 3px solid #A91116;
          p{
            color: #A91116;
          }
        }
        &.debt-3{
          border-bottom: 3px solid #0050A6;
          p{
            color: #0050A6;
          }
        }
        &.debt-4{
          border-bottom: 3px solid #FFB703;
          p{
            color: #FFB703;
          }
        }
      }
    }
    &.debt-col-2{
      .lst-debt{
        .item-debt{
          width: 49%;
        }
      }
    }
  }
}
.box-account-address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .item-address {
    .top-address{
      display: flex;
      justify-content: space-between;
    }
    padding: 20px;
    border: 1px solid #E8E8E8;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 14px;
    width: 49%;
    button{
      margin-left: 8px;
    }
    .name-customer {
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 12px;
    }
    p {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    &:hover{
      border: 1px solid #0050A6;
      background-color: #F1F2F5;
    }
    &.active {
      border: 1px solid #0050A6;
      background-color: #F1F2F5;
      .box-label-check{
        >span{
          display: block;
        }
      }
    }
    .box-control-add{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: -20px;
    }
  }
  .box-label-check{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
    color: #8C8C8C;
    width: 90px;
    >span{
      display: none;
    }
    .custom-control{
      margin-left: 8px;
      width: 20px;
      height: 20px;
      //.custom-control-input:checked ~ .custom-control-label::after{
      //  width: 20px;
      //  height: 20px;
      //  background: url("../img/icon-check-blue.png") 50% 50% no-repeat;
      //  border-radius: 50%;
      //  top: 0;
      //  left: 0;
      //}
    }
    .custom-control-label{
      &:before{
        border-radius: 50%;
      }
    }
  }
  .btn-edit{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/icon-edit1.png") 50% 50% no-repeat;
    text-indent: -999em;
    padding: 0;
    cursor: pointer;
    &:hover{
      background: url("../img/icon-edit-blue.png") 50% 50% no-repeat;
    }
  }
  .btn-delete{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/icon-delete1.png") 50% 50% no-repeat ;
    text-indent: -999em;
    padding: 0;
    cursor: pointer;
    &:hover{
      background: url("../img/icon-delete-red.png") 50% 50% no-repeat ;
    }
  }
  .btn-add-address{
    display: block;
    background: url("../img/icon-add.png") 0/100% no-repeat;
    width: 21px;
    height: 21px;
    margin-bottom: 8px;
  }
}
//custom iCalendar
.icalendar{
  min-width: 100%;
  background-color: #ffffff;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  #icalendarDateStr{
    display: none;
  }
  #icalendarMonth{
    font-size: 14px;
    font-weight: bold;
    color: #4B4B4B;
    text-transform: inherit;
  }
  .icalendar__month, .icalendar__week-days{
    background-color: #ffffff;
    div{
      color: #4B4B4B;
      text-transform: inherit;
      font-size: 14px;
      letter-spacing: 0;
    }
  }
  .icalendar__week-days{
    div{
      width: 27px;
      height: 27px;
      margin: 3px;
    }
  }
  .icalendar__days div{
    width: 27px;
    height: 27px;
    margin: 3px;
    &:hover{
      background: #F1F2F5;
      border: 1px solid #0050A6;
      color: #0050A6;
      border-radius: 4px;
    }
  }
  .icalendar__today{
    width: 27px;
    height: 27px;

    background: #F1F2F5;
    border: 1px solid #0050A6;
    color: #0050A6;
    border-radius: 4px;
  }
  .icalendar__prev{
    width: 20px;
    height: 28px;
    background-color: #E8E8E8;
    border-radius: 4px;
    span{
      display: block;
      text-indent: -999em;
      background: url("../img/btn-prev.png") 0/100% no-repeat;
      width: 6px;
      height: 11px;
    }
    &:hover{
      background-color: #0050a6;
      span{
        background: url("../img/btn-prev-2.png") 0/100% no-repeat;
      }
    }
  }
  .icalendar__next{
    width: 20px;
    height: 28px;
    background-color: #E8E8E8;
    border-radius: 4px;
    span{
      display: block;
      text-indent: -999em;
      background: url("../img/btn-prev.png") 0/100% no-repeat;
      transform: rotate(180deg);
      width: 6px;
      height: 11px;
    }
    &:hover{
      background-color: #0050a6;
      span{
        background: url("../img/btn-prev-2.png") 0/100% no-repeat;
        transform: rotate(180deg);
      }
    }
  }
}
//Hợp đồng
.box-contract{
  background-color: #ffffff;
  border-radius: 4px;
  padding: 16px;
  .title{
    border-bottom: 1px solid #E8E8E8;
    font-size: 24px;
    font-weight: bold;
    color: #4b4b4b;
    padding-bottom: 12px;
    margin-bottom: 30px;
  }
  .box-item-contract{
    margin-bottom: 24px;
    &:last-child{
      margin-bottom: 0;
    }
    .title-cont{
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .option-acc{
      display: flex;
      align-items: center;
      .box-radio{
        margin-left: 100px;
        display: flex;
        align-items: center;
        .custom-checkbox{
          margin-right: 16px;
        }
      }
    }
  }
  .item-group{
    display: flex;
    justify-content: space-between;
    .form-group{
      width: 49%;
    }
    .form-group-50{
      width: 48%;
    }
  }
  .option-sex{
    justify-content: space-between;
    height: 40px;
    display: flex;
    align-items: center;
    .box-radio{
      display: flex;
      align-items: center;
      .custom-checkbox{
        margin-right: 8px;
        color: #4B4B4B;
        min-height: 16px;
        label{
          margin-bottom: 0;
        }
      }
    }
  }
  .form-group{
    margin-bottom: 20px;
    label{
      font-size: 14px;
      margin-bottom: 4px;
      &.note{
        &:after{
          display: inline-block;
          content: "*";
          color: #A91116;
          margin-left: 4px;
        }
      }
    }
    input{
      width: 100%;
      height: 50px;
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      padding: 0 16px;
      &::placeholder{
        color: #8C8C8C;
      }
    }
  }
  .box-date{
    position: relative;
    .btn-option-date{
      display: block;
      position: absolute;
      background: url("../img/icon-datepicker-gray.svg") 0/100% no-repeat;
      width: 14px;
      height: 16px;
      top: 50%;
      margin-top: -8px;
      right: 16px;
      &:hover{
        background: url("../img/icon-datepicker-blue.svg") 0/100% no-repeat;
      }
    }
  }
  .box-images{
    display: flex;
    .item-images{
      width: 180px;
      margin-right: 92px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        max-width: 100%;
        vertical-align: top;
      }
      span{
        color: #8C8C8C;
        display: block;
        margin-bottom: 12px;
      }
      .btn-upload-img{
        display: block;
        background: url("../img/icon-camera.png") 0/100% no-repeat;
        width: 86px;
        height: 87px;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        margin-top: -43px;
        left: 50%;
        margin-left: -43px;
      }
      .img-ava{
        display: block;
        width: 120px;
        height: 120px;
        overflow: hidden;
        position: relative;
      }
      .img-thumb{
        display: block;
        width: 174px;
        height: 102px;
        overflow: hidden;
        position: relative;
      }
    }
  }
  .checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    .custom-checkbox{
      .custom-control-label{
        &:before{
          width: 16px;
          height: 16px;
          border-radius: 4px;
        }
        &:after{
          width: 16px;
          height: 16px;
          border-radius: 4px;
        }
      }
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
      background: url("../img/icon-check-blue2.png") 0/100% no-repeat #fff;
    }
  }
  .content-contract{
    max-height: 300px;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    padding: 16px;
    font-size: 14px;
    color: #4B4B4B;
    line-height: 21px;
    overflow: auto;
    margin-bottom: 16px;
  }
  .box-signature{
    width: 340px;
    .note-text-signature{
      color: #8C8C8C;
    }
    .signature-detail{
      width: 100%;
      height: 160px;
      border: 1px solid #E8E8E8;
      border-radius: 4px;
      margin-bottom: 12px;
    }
    .btn-delete{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 40px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      background-color: #F1F2F5;
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      color: #8C8C8C;
      &:hover{
        background-color: #0050a6;
        color: #ffffff;
      }
    }
    .btn-upload-signature{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 194px;
      height: 40px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: #0050A6;
      border: 1px solid #0050A6;
      border-radius: 4px;
      &:before{
        content: '';
        display: block;
        background: url("../img/icon-download-img.svg") 0/100% no-repeat;
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
      &:hover{
        background-color: #0050a6;
        color: #ffffff;
        &:before{
          background: url("../img/icon-06-white.svg") 0/100% no-repeat;
        }
      }
    }
    .btn-signature-bottom{
      margin-top: 32px;
      width: 100%;
      height: 50px;
      background-color: #0050A6;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 4px;
      &:hover{
        background-color: #F1F2F5;
        color: #0050a6;
        border: 1px solid #0050a6;
      }
    }
  }
  .box-detail-contract{
    margin-bottom: 32px;
    background-color: #F1F2F5;
    border-radius: 4px;
    padding: 44px;
    font-size: 14px;
    color: #4B4B4B;
    .title{
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
    }
    .item-detail-contract{
      margin-bottom: 30px;
      .name{
        font-size: 14px;
        font-weight: bold;
        color: #4B4B4B;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      &:last-child{
        margin-bottom: 0;
      }
      p{
        margin-bottom: 8px;
      }
      .box-sub-contract{
        width: 40%;
      }
      .box-sub-contract1{
        width: 30%;
      }
    }

  }
  .btn-contract{
    height: 50px;
    padding: 0 30px;
    background-color: #0050A6;
    border-radius: 4px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    &:hover{
      background-color: #F1F2F5;
      border: 1px solid #0050a6;
      color: #0050a6;
    }
  }

}
.box-radio{
  display: flex;
  color: #4B4B4B;
  &.active{
    font-weight: bold;
  }
  label{
    width: 16px;
  }
  .custom-checkbox{
    margin-left: 8px;
    .custom-control-label{
      &:before{
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }
      &:after{
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }
    }
    .custom-control-input:checked ~ .custom-control-label::after{
      width: 8px;
      height: 8px;
      background-color: #0050A6;
      border-radius: 50%;
      background-image: none;
      top: 4px;
      left: 4px;
    }
    .custom-control-input:checked ~ .custom-control-label::before{
      background-color: #ffffff!important;
      border: 1px solid #0050A6;
    }
  }
}